@-moz-document url(chrome://browser/content/pageinfo/pageInfo.xul) {
  #topBar {
    -moz-appearance: none!important;
    background-color: var(--in-content-category-header-background)!important;
    border: none!important;
    padding-top: 5px!important;
    padding-bottom: 5px!important;
    color: var(--selected-icon-fill-color)!important
  }
  #metaTagsCaption,
  #security-identity,
  #security-identity-groupbox,
  #security-privacy,
  #security-privacy-groupbox,
  #security-technical,
  #security-technical-groupbox {
    -moz-appearance: none!important;
    background-color: var(--in-content-page-color)!important;
    border: none!important;
    color: var(--in-content-selected-text)!important
  }
  #security-identity-groupbox,
  #security-privacy-groupbox,
  #security-technical-groupbox {
    -moz-appearance: none!important;
    background-color: var(--in-content-category-header-background)!important
  }
}