@-moz-document url(about:addons) {

	page#addons-page, page.greasemonkey #greasemonkey-sort-bar, #list-view[type="userstyle"] #addon-list-empty[hidden] ~ #userstyle-sorting, #addons-page .global-info-container, .alert, #nav-header, #categories, #header-utils-btn, textbox#header-search {
		background: #323234 !important;
		color: #ccc !important;
	}

	richlistitem.category:not([selected]), #detail-contrib-description, page.greasemonkey #greasemonkey-sort-bar .text-link {
		color: #d2d2d2 !important;
	}

	.name-container {
		color: #d2d2d2 !important;
		font-weight: unset !important;
	}

	.addon[selected], .category[selected] {
		background: #565656 !important;
		-moz-border-start: 4px solid #A9A9A9 !important;
	}

	#header-utils-btn:hover {
		color: white !important;
		background: #222 !important;
	}

	.addon {
		color: gray !important;
	}

	richlistitem.category[selected], #main #promos.js, #featured-addons, #addons {
		background: #323234 !important;
		color: #d2d2d2 !important;
	}

	richlistitem.category:hover:not([selected]) {
		text-decoration: underline !important;
	}

	#view-port-container #detail-view, #view-port-container #list-view {
		filter: unset !important;
		background-color: black !important;
		color: #d2d2d2 !important;
	}

	.icon, #view-port-container #detail-view image, #view-port-container #list-view image, deck.view-pane, #detail-contributions {
		background-color: #d2d2d2 !important;
	}

	*|button, menulist {
		-moz-appearance: none !important;
		background: linear-gradient(#2D2D2D, #2D2D2D) !important;
		border: 1px #444 solid !important;
		color: #999 !important;
		box-shadow: unset !important;
		text-decoration: unset !important;
	}

	*|button:hover {
		color: white !important;
		background: #222 !important;
	}

	#category-discover {
		display: none !important;
	}

	.addon-view[notification="warning"] {
	  --view-highlight-color: transparent !important;
	}
  
}