@-moz-document url(about:sessionrestore) {

	html, body, treechildren {
		background: #323234 !important;
		color: #ccc !important;
	}

	treecol {
		background: #424040 !important;
		color: #d2d2d2 !important;
	}

	treecol:hover {
		text-decoration: underline !important;
	}

	button {
		background-color: #292929 !important;
		color: #ccc !important;
		border: 1px #ccc solid !important;
	}

	button:hover {
		background: #222 !important;
	}
	
	#tabsToggle {
		padding-inline-end: 30px !important;
	}

}