@-moz-document url-prefix(about:) {
    :root {
	    --in-content-page-color: var(--primary-light-color) !important;
	    --in-content-page-background: var(--dark-accent) !important;
	    --in-content-text-color: var(--primary-light-color) !important;
	    --in-content-selected-text: var(--primary-light-color) !important;
	    --in-content-box-background: var(--primary-dark-color) !important;
	    --in-content-box-background-odd: var(--light-accent-color) !important;
	    --in-content-box-background-hover: var(--dark-accent) !important;
	    --in-content-box-background-active: var(--dark-accent) !important;
	    --in-content-box-border-color: var(--primary-dark-color) !important;
	    --in-content-item-hover: var(--dark-accent) !important;
	    --in-content-item-selected: var(--dark-accent) !important;
	    --in-content-border-highlight: var(--dark-accent) !important;
	    --in-content-border-focus: var(--dark-accent) !important;
	    --in-content-border-color: var(--primary-dark-color) !important;
	    --in-content-category-outline-focus: 1px dotted var(--dark-accent) !important;
	    --in-content-category-text: var(--primary-light-color) !important;
	    --in-content-category-text-active: var(--primary-light-color) !important;
	    --in-content-category-text-selected: var(--primary-accent-color) !important;
	    --in-content-category-text-selected-active: var(--primary-accent-color-dark) !important;
	    --in-content-category-background-selected-hover: var(--primary-dark-color) !important;
	    --in-content-category-background-selected-active: var(--primary-dark-color) !important;
	    --in-content-link-color: var(--primary-accent-color) !important;
	    --in-content-link-color-hover: var(--primary-accent-color-dark) !important;
	    --in-content-link-color-visited: var(--dark-accent) !important;
	    --in-content-primary-button-background: var(--dark-accent) !important;
	    --in-content-primary-button-background-hover: var(--primary-accent-color-dark) !important;
	    --in-content-primary-button-background-active: var(--primary-accent-color-dark) !important;
	    --in-content-table-header-background: var(--dark-accent) !important;
		--in-content-category-background: var(--primary-dark-color) !important;
    }
}

/* Basic changes fundamental to all pages */
@-moz-document regexp("^about:(?!reader).*"), url(https://www.mozilla.org/credits/) {	
	
	html:not(#ublock0-epicker), html:not(#ublock0-epicker) body, #newtab-customize-overlay {
		background: var(--primary-dark-color) !important;
		color: var(--primary-light-color) !important;
	}	
	
	a:link {
		color: var(--primary-accent-color) !important;
	}
}

