@-moz-document regexp(".*\\.(p|P)(d|D)(f|F).*") {
  #loadingBar .progress,
  .dropdownToolbarButton > select,
  .dropdownToolbarButton > select > option,
  .overlayButton,
  .secondaryToolbarButton,
  .toolbarField,
  body,
  div#viewer {
    background-color: var(--in-content-box-background)!important
  }
  body {
    background-image: none!important
  }
  .splitToolbarButtonSeparator,
  .verticalToolbarSeparator {
    box-shadow: none!important;
    background-color: var(--in-content-box-background)!important
  }
  div#toolbarViewer {
    background-color: var(--in-content-category-header-background)!important
  }
  #numPages,
  #pageNumber,
  #scaleSelect {
    color: var(--in-content-page-color)!important
  }
  .pdfViewer .page {
    border-image: none!important
  }
  #pageNumber,
  #scaleSelectContainer {
    border: 1px solid!important
  }
  #loadingBar {
    position: relative;
    width: 100%;
    height: 4px;
    background-color: var(--theme-selection-background-hover)!important;
    border-bottom: 1px solid!important
  }
  #sidebarContainer,
  #sidebarContent {
    background-color: var(--in-content-page-background)!important
  }
  #toolbarSidebar {
    background-color: var(--in-content-category-header-background)!important;
    background-image: none!important;
    border-color: var(--in-content-box-background)!important
  }
  .doorHanger,
  .doorHangerRight {
    border: 1px solid!important;
    border-color: var(--in-content-box-background)!important;
    box-shadow: none!important
  }
  #toolbarContainer,
  .findbar,
  .secondaryToolbar {
    background-color: var(--in-content-box-background)!important;
    background-image: none!important
  }
  .dropdownToolbarButton,
  .overlayButton,
  .secondaryToolbarButton,
  .toolbarButton {
    border: none!important;
    color: var(--in-content-page-color)!important
  }
  .dropdownToolbarButton,
  .overlayButton,
  .toolbarButton:focus,
  .toolbarButton:hover {
    background-color: var(--in-content-box-background)!important;
    background-image: none!important;
    border: none!important;
    box-shadow: none!important
  }
  .secondaryToolbarButton:focus,
  .secondaryToolbarButton:hover {
    background-color: var(--in-content-page-background)!important;
    background-image: none!important;
    box-shadow: none!important
  }
  .secondaryToolbarButton::before,
  .toolbarButton::before {
    filter: invert(20%)!important
  }
  .secondaryToolbarButton.toggled,
  .splitToolbarButton.toggled > .toolbarButton.toggled,
  .toolbarButton.toggled {
    background-color: var(--in-content-page-background)!important;
    background-image: none!important;
    box-shadow: none!important;
    color: var(--in-content-selected-text)!important
  }
  .horizontalToolbarSeparator {
    background-color: var(--in-content-box-border-color)!important;
    box-shadow: none!important
  }
}