@-moz-document url-prefix("https://addons.mozilla.org") {
	
	/* Header & Footer */
	.Header, 
	.Footer-wrapper,
	.LanguageTools-header-row {
	    background: var(--grey-80) !important;
	}
	
	.LanguageTools-table-row:nth-child(2n) {
	    background: var(--grey-70) !important;
	}
	
	
	/* Background Colors */
	.LandingPage, 
	.Home, 
	.App-content {
	    background: var(--primary-dark-color) !important;
	}
	
	/* Search Box */
	.SearchForm-icon-magnifying-glass {
	    filter: invert(65%) !important;
	}
	
	
	/* Cards */
	.Hero .Card-contents, 
	.Home-SubjectShelf .Card-contents,
	.Card-header,
	.AddonsCard--horizontal .Card-contents,
	.AddonsCard--horizontal ul.AddonsCard-list .SearchResult-link,
	.SearchForm-query,
	.LandingPage-header,
	.Categories .Card-contents,
	.SectionLinks-dropdown .DropdownMenu-items,
	.Card-contents, .Card--photon .Card-contents,
	.Card-footer-link,
	.MetadataCard,
	.AddonDescription-more-addons:not(.AddonDescription-more-addons--theme) .Card-contents .AddonsCard-list,
	.AddonDescription-more-addons--theme .Card-contents .AddonsCard-list,
	.Search .SearchResults .SearchResult,
	.Paginate-page-number,
	.SearchForm-suggestions-item.SearchForm-suggestions-item
	{
	    background: var(--grey-60) !important;
	}
	
	.Home-SubjectShelf-subheading,
	.Home-SubjectShelf-link:link,
	.Home-SubjectShelf-link:visited,
	.Card-header,
	.SearchResult-name,
	.SearchForm-query,
	.LandingPage-addonType-name,
	.LandingPage-heading-content,
	.Footer-links-header a:link,
	.Footer a:active, .Footer a:hover,
	.DropdownMenuItem,
	.DropdownMenuItem-section,
	.DropdownMenuItem-link a, .DropdownMenuItem-link a:link,
	.Card-contents, .Card--photon .Card-contents,
	.AddonBadges .Badge,
	.Addon-author, 
	.Addon-author a, 
	.Addon-author a:link
	.Button--action, 
	.Button--action:link,
	.Button--action.Button--small:link,
	.Button--action,
	.Addon-title,
	.ReportAbuseButton-show-more,
	.SearchResult-summary,
	.SearchContextCard-header,
	.Paginate-page-number,
	.SearchSuggestion-name
	 {
	    color: var(--primary-light-color) !important;
	}
	

	
	.Home-SubjectShelf-link:active,
	.Home-SubjectShelf-link:focus,
	.Home-SubjectShelf-link:hover,
	.SearchResult-link:focus .SearchResult-name,
	.SearchResult-link:hover .SearchResult-name,
	.Card-footer-link a, 
	.Card-footer-link a:hover, 
	.Card-footer-link a:link,
	.DropdownMenuItem-link a:hover,
	.AddonMoreInfo-contents a:link,
	.LanguageTools-table a:link {
	    color: var(--primary-accent-color) !important;
	}
	
	.Button--action.Button--outline-only {
		border-color: var(--primary-accent-color) !important;
	}
	
	.Button--action,
	.Button--action.Button--small,
	.Paginate .Paginate-item,
	.SearchForm-suggestions-item.SearchForm-suggestions-item--highlighted,
	{
	    background: var(--primary-accent-color) !important;
	}
	
	.Button--action.Button--outline-only:hover,
	.SearchForm-query:hover,
	.Button--action:hover {
		border-color: var(--primary-accent-color-dark) !important;
		
	}
	
	.AddonsCard--horizontal ul.AddonsCard-list .SearchResult-link:hover {
		background: var(--grey-70) !important;
		border-radius: 0px !important;
	}

}
	

