/* Import base color variables
 * Required for everyone */
@import "color_variables.css";

/* Import about page files 
 * Recomended for everyone using the dark theme */
@import "userContent-files/about_pages/about.css";
@import "userContent-files/about_pages/accounts.css";
@import "userContent-files/about_pages/addons.css";
@import "userContent-files/about_pages/config.css";
@import "userContent-files/about_pages/memory.css";
@import "userContent-files/about_pages/neterror.css";
@import "userContent-files/about_pages/newtab_and_home.css";
@import "userContent-files/about_pages/performance.css";
@import "userContent-files/about_pages/plugins.css";
@import "userContent-files/about_pages/preferences.css";
@import "userContent-files/about_pages/profiles.css";
@import "userContent-files/about_pages/studies.css";
@import "userContent-files/about_pages/support.css";
@import "userContent-files/about_pages/url-classifier.css";
@import "userContent-files/about_pages/webrtc.css";



/* Import Relevant webextension tweaks here
 * IMPORTANT: If used, change the Internal UUID in the corresponding css file */
@import "webextension-tweaks/tree_style_tabs.css";
@import "webextension-tweaks/stylus.css";


/* Import relevent website dark themes */
@import "userContent-files/webpages/view_source.css";
@import "userContent-files/webpages/amo_store.css";



/* Basic changes fundamental to all pages */
@-moz-document url-prefix(about:), url(https://www.mozilla.org/credits/) {	
	
	html:not(#ublock0-epicker), html:not(#ublock0-epicker) body, #newtab-customize-overlay {
		background: var(--primary-dark-color) !important;
		color: var(--primary-light-color) !important;
	}	
	
	a:link {
		color: var(--primary-accent-color) !important;
	}
}






















	




	

	

	


		
		







