.advanced-panel {
    background-color: var(--mid-way-color) !important;
		border-color: var(--light-accent-color) !important;
}

.exceptionDialogButtonContainer {
    background-color: var(--dark-accent) !important;
}

#learnMoreContainer #learnMoreLink {
  color: var(--primary-accent-color) !important;
}

.toggle-container-with-text input[type="checkbox"] {
    border: 1px solid var(--light-accent-color) !important;
    background-color: var(--mid-way-color) !important;
    background-image: none !important;
    box-shadow: none !important;
}

.toggle-container-with-text input[type="checkbox"]:checked {
    background-image: url("chrome://global/skin/in-content/check.svg"), linear-gradient(var(--mid-way-color), var(--mid-way-color)) !important;
    fill: var(--primary-accent-color) !important;
}


@-moz-document url(about:neterror) {

	/* about:neterror button */
	#errorTryAgain {
		background: var(--primary-accent-color) !important;
		color: var(--primary-light-color) !important;
	}

}
