@-moz-document url-prefix(about:newtab), url(about:home) {


	.top-sites-list .top-site-outer .title span,
	.card-outer .card-context {
		color: var(--primary-light-color) !important;
	}

	.section-top-bar .info-option-manage button,
	.card-outer:-moz-any(:hover, :focus, .active):not(.placeholder) .card-title {
	    color: var(--primary-accent-color) !important;
	}

	.card-outer .card-details,
	.card-outer > a,
	.section-top-bar .section-info-option .info-option,
	.context-menu {
		background: var(--mid-way-color) !important;
	    color: var(--primary-light-color) !important;
	}


	.search-wrapper .search-label,
	.search-wrapper .search-button,
	.icon {
	    fill: var(--primary-light-color) !important;
	}

	.top-sites-list .top-site-outer .context-menu-button,
	.card-outer .context-menu-button {
    background-color: var(--grey-20) !important;
    background-image: url("chrome://browser/skin/page-action.svg") !important;
    border: 1px solid var(--grey-20) !important;
    filter: invert(95%) !important;
		box-shadow: none !important;
}

.card-outer:-moz-any(:hover, :focus, .active):not(.placeholder) {
	box-shadow: 0 0 0 5px var(--dark-accent) !important;
}

.collapsible-section .section-disclaimer {
    color: var(--primary-light-color) !important;
}

.collapsible-section .section-disclaimer button:hover:not(.dismiss) {
    box-shadow: 0 0 0 5px var(--dark-accent) !important;
	}

.collapsible-section .section-disclaimer button {
    background: var(--mid-way-color) !important;
    border: 1px solid var(--light-accent-color) !important;
    color: var(--primary-light-color) !important;
}

.collapsible-section .section-top-bar .info-option-icon {
    fill: var(--primary-light-color) !important;
}
.collapsible-section .section-top-bar .info-option {
    border: none !important;
}
.collapsible-section .section-top-bar .info-option-manage button::after {
    fill: var(--primary-accent-color) !important;
	}

.top-sites-list .top-site-outer:hover .tile,
.top-sites-list .top-site-outer:focus .tile,
.top-sites-list .top-site-outer.active .tile {
      box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1), 0 0 0 5px var(--dark-accent) !important;
		}

	.search-wrapper input {
	    color: var(--primary-light-color) !important;
	    background: var(--mid-way-color) !important;
	}

	.prefs-pane-button button {
		fill: var(--mid-way-color) !important
	}

	/* Preferencs/close button */
	  .prefs-pane-button button:hover {
	    background-color: var(--darksest) !important;;
	  }


	/* Main background */
	.prefs-pane .sidebar {
		background: var(--primary-dark-color) !important;
		border-left: 1px solid var(--primary-light-color) !important;
		color: var(--primary-light-color) !important;
	}

	/* Inner options panel */
	.prefs-pane .prefs-modal-inner-wrapper .options {
		background: var(--mid-way-color) !important;
		border: 1px solid var(--primary-light-color);
	}

	/* Check boxes */
	.prefs-pane [type="checkbox"]:not(:checked) + label::before, .prefs-pane [type="checkbox"]:checked + label::before {
		border: 1px solid var(--primary-light-color) !important;
		background: var(--mid-way-color) !important;
	}

	/* Check marks */
	.prefs-pane [type="checkbox"]:not(:checked) + label::after, .prefs-pane [type="checkbox"]:checked + label::after {
		fill: var(--primary-accent-color) !important;
	}

	/* Bottom Panel */
	.prefs-pane .actions {
		background-color: var(--primary-dark-color) !important;
		border-left: 1px solid var(--primary-light-color) !important;
		border-top: 1px solid var(--primary-light-color) !important;
	}

	/* "Done Button */
	.actions button.done {
		background: var(--primary-accent-color) !important;;
		border: solid 1px var(--primary-accent-color-dark) !important;;
		color: var(--primary-light-color) !important;
	}

	.actions button:hover:not(.dismiss) {
		box-shadow: 0 0 0 5px var(--primary-light-color) !important;
	}

	/* Search Bar */
	.search-wrapper:active input, .search-wrapper input:focus {
		border-color: var(--primary-accent-color-dark) !important;
		box-shadow: 0 0 0 2px var(--primary-accent-color) !important;
	}

	/* Pocket Suggestions Arrow */
	.topic .topic-read-more::after {
		fill: var(--primary-accent-color) !important;
	}


	/* Onboarding Message */
	#onboarding-notification-bar {
		background: var(--darksest) !important;
		color: var(--primary-light-color) !important;
		border-top: 2px solid var(--primary-dark-color) !important;
	}

	#onboarding-notification-body {
		color: var(--primary-light-color) !important;
	}

	.onboarding-action-button {
		background: var(--primary-accent-color) !important;
		border: 1px solid var(--primary-accent-color-dark) !important;
		color: var(--primary-light-color) !important;
	}

	#onboarding-notification-close-btn {
		filter: invert(65%)!important;
	}

	.contentSearchHeader, .search-wrapper .contentSearchSuggestionTable {
	    background-color: var(--mid-way-color) !important;
	    color: var(--primary-light-color) !important;
	    border-bottom: 1px solid var(--primary-light-color) !important;
	}

	.contentSearchSuggestionsContainer,
	.contentSearchHeaderRow,
	.contentSearchSuggestionRow,
	#contentSearchDefaultEngineHeader,
	#contentSearchSearchWithHeader {
	    background: var(--mid-way-color) !important;
	    color: var(--primary-light-color) !important;
	}

	.contentSearchSearchWithHeaderSearchText {
	    color: var(--primary-accent-color) !important;
	}

	#snippets-container {
	    background: var(--primary-dark-color) !important;
	 }

	 #snippets {
	   color: var(--primary-light-color) !important;
    }

	.snippet .block-snippet-button {
	   filter: invert(100%) !important;
	 }

	.snippet section {
	    color: #FFF !important;
	 }

	 /* Background color of top site icons */
	 .top-sites-list .top-site-outer .top-site-icon {
	     background-color: var(--primary-dark-color) !important;
	 }

	 /* Edit Top Sites */
	 .section-title span,
	 .actions button.dismiss,
	 .actions button {
	 	color: var(--primary-light-color) !important;
	 }

	 .edit-topsites-wrapper .edit-topsites-inner-wrapper {
	     background: var(--primary-dark-color) !important;
	 }

	 .actions {
	     border-top: none !important;
	     background: var(--primary-dark-color) !important;
	 }

	 input[type="text"] {
	     border: solid 1px var(--primary-light-color) !important;
	     background: var(--light-accent-color) !important;
	     color: var(--primary-light-color) !important;
	 }

	 .actions button {
	     background: var(--mid-way-color) !important;
	     border: 1px solid #B1B1B3;
	 	color: var(--primary-light-color) !important;
	 }

	 /* overlay background */
	 .modal-overlay {
	     background: var(--mid-way-color) !important;
	 }

	 /* Onboarding */

	#onboarding-overlay {
		background: var(--mid-way-color) !important;
	}

	#onboarding-overlay-dialog,
	.onboarding-hidden,
	#onboarding-tour-sync-page[data-login-state=logged-in] .show-on-logged-out,
	#onboarding-tour-sync-page[data-login-state=logged-out] .show-on-logged-in {
		background: var(--primary-dark-color) !important;
		color: var(--primary-light-color) !important;
	}


}
