@-moz-document url-prefix(about:newtab), url(about:home) {
	
	
	.top-sites-list .top-site-outer .title span,
	.card-outer .card-context {
		color: var(--primary-light-color) !important;
	}
	
	.section-top-bar .info-option-manage button,
	.card-outer:-moz-any(:hover, :focus, .active):not(.placeholder) .card-title {
	    color: var(--primary-accent-color) !important;
	}
		
	.card-outer .card-details,
	.card-outer > a,
	.section-top-bar .section-info-option .info-option,
	.context-menu {
		background: var(--grey-60) !important;
	    color: var(--primary-light-color) !important;
	}
	

	.search-wrapper .search-label, 
	.search-wrapper .search-button,
	.icon {
	    fill: var(--primary-light-color) !important;
		opacity: .7 !important;
	}

	.search-wrapper input {
	    color: var(--primary-light-color) !important;
	    background: #4a4a4f !important;
	}

	.prefs-pane-button button {
		fill: #4a4a4f !important
	}
	
	/* Preferencs/close button */   
	  .prefs-pane-button button:hover {
	    background-color: var(--grey-90) !important;;
	  }
  
  
	/* Main background */
	.prefs-pane .sidebar {
		background: var(--primary-dark-color) !important;
		border-left: 1px solid var(--primary-light-color) !important;
		color: var(--primary-light-color) !important;
	}

	/* Inner options panel */
	.prefs-pane .prefs-modal-inner-wrapper .options {
		background: #4a4a4f !important;
		border: 1px solid var(--primary-light-color);
	}

	/* Check boxes */
	.prefs-pane [type="checkbox"]:not(:checked) + label::before, .prefs-pane [type="checkbox"]:checked + label::before {
		border: 1px solid var(--primary-light-color) !important;
		background: var(--grey-60) !important;
	}

	/* Check marks */
	.prefs-pane [type="checkbox"]:not(:checked) + label::after, .prefs-pane [type="checkbox"]:checked + label::after {
		fill: var(--primary-accent-color) !important;
	}

	/* Bottom Panel */
	.prefs-pane .actions {
		background-color: var(--primary-dark-color) !important;
		border-left: 1px solid var(--primary-light-color) !important;
		border-top: 1px solid var(--primary-light-color) !important;
	}

	/* "Done Button */
	.actions button.done {
		background: var(--primary-accent-color) !important;;
		border: solid 1px var(--primary-accent-color-dark) !important;;
		color: var(--primary-light-color) !important;
	}

	.actions button:hover:not(.dismiss) {
		box-shadow: 0 0 0 5px var(--primary-light-color) !important;
	}

	/* Search Bar */
	.search-wrapper:active input, .search-wrapper input:focus {
		border-color: var(--primary-accent-color-dark) !important;
		box-shadow: 0 0 0 2px var(--primary-accent-color) !important;
	}
	
	/* Pocket Suggestions Arrow */
	.topic .topic-read-more::after {
		fill: var(--primary-accent-color) !important;
	}


	/* Onboarding Message */
	#onboarding-notification-bar {
		background: var(--grey-90) !important;
		color: var(--primary-light-color) !important;
		border-top: 2px solid var(--primary-dark-color) !important;
	}

	#onboarding-notification-body {
		color: var(--primary-light-color) !important;
	}

	.onboarding-action-button {
		background: var(--primary-accent-color) !important;
		border: 1px solid var(--primary-accent-color-dark) !important;
		color: var(--primary-light-color) !important;
	}

	#onboarding-notification-close-btn {
		filter: invert(65%)!important;
	}
	
	.contentSearchHeader, .search-wrapper .contentSearchSuggestionTable {
	    background-color: var(--grey-60) !important;
	    color: var(--primary-light-color) !important;
	    border-bottom: 1px solid var(--primary-light-color) !important;
	}

	.contentSearchSuggestionsContainer, 
	.contentSearchHeaderRow, 
	.contentSearchSuggestionRow, 
	#contentSearchDefaultEngineHeader, 
	#contentSearchSearchWithHeader {
	    background: var(--grey-60) !important;
	    color: var(--primary-light-color) !important;
	}
	
	.contentSearchSearchWithHeaderSearchText {
	    color: var(--primary-accent-color) !important;
	}
	
	#snippets-container {
	    background: var(--primary-dark-color) !important;
	 }
	 
	 #snippets {
	   color: var(--primary-light-color) !important;
    }

	.snippet .block-snippet-button {
	   filter: invert(100%) !important;
	 }

	.snippet section {
	    color: #FFF !important;
	 }
	 
	 /* Background color of top site icons */
	 .top-sites-list .top-site-outer .top-site-icon {
	     background-color: var(--primary-dark-color) !important;
	 }
	 
	 /* Edit Top Sites */
	 .section-title span,
	 .actions button.dismiss,
	 .actions button {
	 	color: var(--primary-light-color) !important;
	 }
	
	 .edit-topsites-wrapper .edit-topsites-inner-wrapper {
	     background: var(--primary-dark-color) !important;
	 }

	 .actions {
	     border-top: none !important;
	     background: var(--primary-dark-color) !important;
	 }

	 input[type="text"] {
	     border: solid 1px var(--primary-light-color) !important;
	     background: var(--grey-50) !important;
	     color: var(--primary-light-color) !important;
	 }

	 .actions button {
	     background: var(--grey-60) !important;
	     border: 1px solid #B1B1B3;
	 	color: var(--primary-light-color) !important;
	 }
	 
	 /* overlay background */
	 .modal-overlay {
	     background: var(--grey-60) !important;
	 }
	 
	 /* Onboarding */
	 
	#onboarding-overlay {
		background: var(--grey-60) !important;
	}

	#onboarding-overlay-dialog,
	.onboarding-hidden,
	#onboarding-tour-sync-page[data-login-state=logged-in] .show-on-logged-out,
	#onboarding-tour-sync-page[data-login-state=logged-out] .show-on-logged-in {
		background: var(--primary-dark-color) !important;
		color: var(--primary-light-color) !important;
	}
	 

}