@-moz-document url(about:performance) {
	
	#subprocess-reports th {
	   background-color: var(--primary-accent-color) !important;
	   color: white !important;
	}
	
	#subprocess-reports td {
	    background-color: var(--dark-accent) !important;
		  border-color: var(--primary-dark-color) !important;
	}
	
	
}