@-moz-document url(about:plugins) {

	
	th {
	    background-color: var(--primary-accent-color-dark) !important;
	}
	
	td {
	    color: var(--primary-light-color) !important;
	    background-color: var(--dark-accent) !important;
	}
	
	.notice {
	    background: var(--dark-accent) !important;
	}
	
	h2 {
	    color: var(--primary-accent-color) !important;
	}
	
}