@-moz-document url-prefix(about:preferences) {
	
	::-moz-selection {
    background: var(--primary-accent-color) !important;
  }
	
	.checkbox-check,
	.radio-check {
		box-shadow: none !important;
		background: var(--grey-50) !important;
	}
	
	menulist:not([editable="true"]) > *.menulist-dropmarker {
    filter: invert(65%) !important;
}
	
	*.checkbox-check[checked],
	*.radio-check[selected] {
		border: none !important;
		fill: var(--primary-accent-color-dark) !important;
		box-shadow: none !important;
	}

	#categories,
	.main-content,
	.search-container {
		background: var(--primary-dark-color) !important;
	}
	
	.category[selected], .category.selected {
		-moz-border-start: 4px solid var(--primary-accent-color) !important;
	}
	
	#searchInput {
    background: var(--grey-60) !important;
		border: 1px solid var(--primary-light-color) !important;
		border-radius: 4px !important;
  }
	
	

	#handlersView {
    background: var(--grey-60) !important;
  }
	
	listheader {
		background: var(--grey-80) !important;
	}
	
	#handlersView richlistitem[selected="true"] {
    background: var(--primary-accent-color) !important;
		color: var(--primary-light-color) !important;;
  }
	
	#handlersView richlistitem:hover {
    background: var(--grey-70) !important;
		color: var(--primary-light-color) !important;;
  }
	
	
	.dialogBox {
		filter: invert(80%) !important;
	}
	/* Search Engines */
	#engineChildren::-moz-tree-row() {
		background: var(--grey-60) !important;
	}
	
	
}