@-moz-document url(about:profiles) {
	
	/* Upper right box */
	#action-box {
	    background-color: var(--dark-accent) !important;
		color: var(--primary-light-color) !important;
	}
	
	th {
	    background-color: var(--primary-accent-color-dark) !important;
		  border-color: var(--grey-80) !important;
	}
	
	td {
	    color: var(--primary-light-color) !important;
	    background-color: var(--dark-accent) !important;
		  border-color: var(--grey-80) !important;
	}
	
	button {
	    border: 1px solid var(--primary-light-color) !important;
		  color: var(--primary-light-color) !important;
	}
		
	
}