@-moz-document url(about:serviceworkers) {
	
	.warningBackground {
	    background: var(--primary-dark-color) !important;
	}
	
	.warningMessage {
	    border: 1px solid var(--primary-light-color) !important;
	    background: var(--grey-60) !important;
	    color: var(--primary-light-color) !important;
	}
	
}