/* Alters the preferences page */
/* IMPORTANT: change the Internal UUID */

@-moz-document url-prefix("moz-extension://19684a2f-ee86-d644-961c-ab8b8ad10aca/") {

  body {
    background: var(--primary-dark-color) !important;
		color: var(--primary-light-color) !important;
  }
	
	#notes {
		background: var(--primary-dark-color) !important;
		color: var(--primary-light-color) !important;
  }
		
}

