/* Alters the preferences page */

@-moz-document url-prefix("moz-extension://2a3d122c-dc21-7f4c-a805-82cbd472de98/") {
  p, ul {
    color: var(--primary-light-color) !important;
  }

  h1, legend {
  color: var(--primary-accent-color) !important;
  }


  a {
    color: var(--primary-accent-color-dark) !important;;
  }
      
}

