/*! Alters the webextension Brief
  IMPORTANT: change the Internal UUID */
@-moz-document url-prefix("moz-extension://brief_UUID/") {
  h2 {
    color: var(--accent-1)!important
  }
  label {
    color: var(--tone-4)!important
  }
  #clear-all-entries,
  #custom-style-textbox,
  input[type=number] {
    -moz-appearance: none!important;
    background: var(--tone-6)!important;
    color: var(--tone-4)!important;
    border-color: var(--tone-5)!important
  }
  #clear-all-entries {
    border-radius: 3px!important;
    -moz-appearance: none!important;
    background: var(--tone-8)!important;
    color: var(--tone-4)!important;
    border-color: var(--tone-5)!important
  }
}