/*! Alters the webextension Dark Mode
  IMPORTANT: change the Internal UUID */
@-moz-document url-prefix("moz-extension://dark_mode_UUID/") {
  .comment {
    color: var(--accent-1)!important
  }
  label {
    color: var(--tone-4)!important
  }
  .title {
    color: var(--in-content-page-color)!important;
    background-color: var(--in-content-category-header-background)!important
  }
  textarea {
    color: var(--in-content-page-color)!important;
    background-color: var(--in-content-box-background)!important;
    border: none!important
  }
  .highlight {
    background-color: var(--in-content-box-border-color)!important
  }
}
