/*! Alters the webextension Dark Mode
  IMPORTANT: change the Internal UUID */
@-moz-document url-prefix("moz-extension://dark_mode_UUID/") {
  .comment {
    color: var(--in-content-link-color)!important
  }
  .title {
    background-color: var(--in-content-category-header-background)!important
  }
  .highlight {
    background-color: var(--in-content-box-border-color)!important
  }
}