/*! Alters the webextension Dark Mode
  IMPORTANT: change the Internal UUID */
@-moz-document url-prefix("moz-extension://{174b2d58-b983-4501-ab4b-07e71203cb43}/") {
  .comment {
    color: var(--in-content-link-color)!important
  }
  .title {
    background-color: var(--in-content-category-header-background)!important
  }
  .highlight {
    background-color: var(--in-content-box-border-color)!important
  }
}
