/*! Alters the webextension Decentraleyes
  IMPORTANT: change the Internal UUID */
@-moz-document url-prefix("moz-extension://decentraleyes_UUID/") {
  body {
    background-color: var(--in-content-box-background)!important;
    color: var(--tone-4)!important
  }
  .panel:not(:last-child),
  header {
    border-color: var(--tone-5)!important
  }
  .button {
    background-color: var(--in-content-box-background)!important;
    border-color: var(--tone-5)!important
  }
  .button:hover {
    background-color: var(--in-content-page-background)!important
  }
}