/*! Alters the webextension Downloads sidebar
  IMPORTANT: change the Internal UUID */
@-moz-document url-prefix("moz-extension://2be9dc10-da64-824e-838f-c48a91cb150e/") {
  body {
    background: var(--in-content-page-background)!important;
    color: var(--in-content-page-color)!important
  }
  .btn,
  .cancel-button,
  .erase-button {
    filter: invert(60%)
  }
  .toolbar-bottom {
    border-color: var(--in-content-border-color)!important
  }
  .toolbar-bottom button {
    color: var(--in-content-page-color)!important
  }
  .toolbar-bottom button:hover {
    background: var(--in-content-box-background-hover)!important
  }
}
