/*! Pop Up Background Fixes */
@-moz-document url-prefix("moz-extension://{7fc8ef53-24ec-4205-87a4-1e745953bb0d}/popup.html"),
url-prefix("moz-extension://https-everywhere@eff.org/pages/popup"),
url-prefix("moz-extension://jid1-BoFifL9Vbdl2zQ@jetpack/pages/popup"),
url-prefix("moz-extension://{b3e677f4-1150-4387-8629-da738260a48e}/data/data/popup.html"),
url-prefix("moz-extension://renametabtitle@mozilla.org/popup/popup.html"),
url-prefix("moz-extension://{6f5f4891-9637-41f9-9ee5-3a0ac02cf254}/popup"),
url-prefix("moz-extension://{e4a8a97b-f2ed-450b-b12d-ee082ba24781}/src/browser/monkey-menu"),
url-prefix("moz-extension://{b43b974b-1d3a-4232-b226-eaa2ac6ebb69}/"),
url-prefix("moz-extension://woop-NoopscooPsnSXQ@jetpack") {
  :root {
    --in-content-page-background: var(--tone-6)!important;
    --in-content-box-background: rgba(11,11,12,0.2)!important;
    --in-content-box-border-color: rgba(249, 249, 250, 0.3)!important;
    --in-content-box-background-hover: rgba(11,11,12,0.2)!important
  }
  button {
    margin-top: 3px!important
  }
  input {
    margin-top: 3px!important;
    margin-bottom: 3px!important
  }
  input,
  textarea {
    margin-left: 0!important
  }
}
@-moz-document url-prefix("moz-extension://YoutubeDownloader@PeterOlayev.com"),
url-prefix("moz-extension://autocopy@mozilla.org"),
url-prefix("moz-extension://{b5a43a70-4092-4899-9c44-63799150b35e}"),
url-prefix("moz-extension://octopatcher_wowmotty@gmail.com"),
url-prefix("moz-extension://{54BB9F3F-07E5-486c-9B39-C7398B99391C}"),
url-prefix("moz-extension://multipletab@piro.sakura.ne.jp/"),
url-prefix("moz-extension://neaturl@hugsmile.eu/"),
url-prefix("moz-extension://smart-referer@meh.paranoid.pk/"),
url-prefix("moz-extension://{e225ac78-5e83-484b-a16b-b6ed0924212f}/"),
url-prefix("moz-extension://{7fc8ef53-24ec-4205-87a4-1e745953bb0d}/"),
url-prefix("moz-extension://https-everywhere@eff.org/"),
url-prefix("moz-extension://skipredirect@sblask/"),
url-prefix("moz-extension://{174b2d58-b983-4501-ab4b-07e71203cb43}/"),
url-prefix("moz-extension://jid1-BoFifL9Vbdl2zQ@jetpack/"),
url-prefix("moz-extension://{b3e677f4-1150-4387-8629-da738260a48e}/"),
url-prefix("moz-extension://jid0-HYNmqxA9zQGfJADREri4n2AHKSI@jetpack/options/options"),
url-prefix("moz-extension://treestyletab@piro.sakura.ne.jp/options/options"),
url-prefix("moz-extension://translator@zoli.bod"),
url-prefix("moz-extension://enhancerforyoutube@maximerf.addons.mozilla.org/options.html"),
url-prefix("moz-extension://{bee6eb20-01e0-ebd1-da83-080329fb9a3a}/html/options.html"),
url-prefix("moz-extension://back2close@bomjacob.github.io/"),
url-prefix("moz-extension://{7e56c1ad-71c3-47fe-bdba-372c7770e0cb}/"),
url-prefix("moz-extension://newtabfromlocationbar@piro.sakura.ne.jp/"),
url-prefix("moz-extension://mobislan@users.noreply.github.com/"),
url-prefix("moz-extension://{6f5f4891-9637-41f9-9ee5-3a0ac02cf254}/"),
url-prefix("moz-extension://display-anchors@robwu.nl/"),
url-prefix("moz-extension://renametabtitle@mozilla.org/"),
url-prefix("moz-extension://{e4a8a97b-f2ed-450b-b12d-ee082ba24781}/src/browser/monkey-menu"),
url-prefix("moz-extension://{b43b974b-1d3a-4232-b226-eaa2ac6ebb69}/"),
url-prefix("moz-extension://woop-NoopscooPsnSXQ@jetpack"),
url-prefix("moz-extension://Chrome-Store-Foxified@jetpack"),
url-prefix("moz-extension://extension@one-tab.com"),
url-prefix("moz-extension://generic_styling_1"),
url-prefix("moz-extension://generic_styling_2"),
url-prefix("moz-extension://generic_styling_3"),
url-prefix("moz-extension://generic_styling_4"),
url-prefix("moz-extension://generic_styling_5") {
  * {
    color: var(--in-content-page-color)!important;
    background-color: var(--in-content-page-background)!important;
    border-color: var(--in-content-box-border-color)!important;
    text-shadow: none!important
  }
  select {
    color: #000!important
  }
  select * {
    background-color: var(--in-content-box-background)!important
  }
  a {
    color: var(--in-content-link-color)!important
  }
  a:hover {
    color: var(--in-content-link-color-hover)!important
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--in-content-category-text-selected)!important
  }
  fieldset {
    border: 2px solid!important;
    border-color: var(--in-content-box-border-color)!important
  }
  input:not([type=checkbox]) {
    background: var(--in-content-box-background)!important;
    color: var(--in-content-page-color)!important
  }
  input[type=file] {
    background-color: var(--in-content-page-background)!important
  }
  input[type=input],
  input[type=number],
  input[type=text],
  input[type=textbox],
  input[type=url],
  textarea {
    -moz-appearance: none!important;
    background: var(--in-content-box-background)!important;
    color: var(--in-content-page-color)!important;
    border: 1px solid!important;
    border-color: var(--in-content-box-border-color)!important;
    margin-left: 3px!important;
    padding-left: 3px!important
  }
  input:checked + .slider {
    background-color: var(--in-content-primary-button-background)!important
  }
  input:not(:checked) + .slider {
    background-color: var(--in-content-box-background)!important
  }
  textarea {
    margin: 2px 0!important;
    padding: 5px!important
  }
  .button,
  button,
  input[type=submit] {
    -moz-appearance: none!important;
    background-image: none!important;
    background-color: var(--in-content-page-background)!important;
    color: var(--in-content-page-color)!important;
    border: 1px solid!important;
    border-color: var(--in-content-box-border-color)!important;
    border-radius: 3px!important
  }
  .button:hover,
  button:hover,
  input[type=submit]:hover {
    background-color: var(--in-content-box-background-hover)!important
  }
}
/*! Code Mirror */
@-moz-document url-prefix("moz-extension://{aecec67f-0d10-4fa7-b7c7-609a2db280cf}/"),
url-prefix("moz-extension://uBlock0@raymondhill.net/"),
url-prefix("moz-extension://uMatrix@raymondhill.net/"),
url-prefix("moz-extension://{e4a8a97b-f2ed-450b-b12d-ee082ba24781}/src/content/edit-user-script") {
  .CodeMirror {
    border: 1px solid!important;
    border-color: var(--cm-background)!important;
    background: var(--cm-background)!important;
    color: #b1b1b3!important;
    font-size: 11px!important;
    line-height: 14px!important
  }
  .CodeMirror-line > span > span::selection,
  .CodeMirror-line > span::selection,
  .CodeMirror-line::selection,
  div.CodeMirror-selected {
    background: var(--cm-selection)!important
  }
  div.CodeMirror-selected {
    background: #353b48!important
  }
  .CodeMirror-gutters {
    background: var(--theme-sidebar-background)!important;
    border-right: 0 solid!important
  }
  .CodeMirror-guttermarker,
  .CodeMirror-guttermarker-subtle {
    color: var(--cm-marker)!important
  }
  .CodeMirror-linenumber {
    padding: 0 8px 0 5px!important;
    color: var(--cm-linenumber)!important
  }
  .CodeMirror-cursor {
    border-left: 1px solid!important;
    border-color: var(--cm-cursor)!important
  }
  span.cm-comment,
  span.cm-hr,
  span.cm-meta {
    color: #939393!important
  }
  span.cm-atom,
  span.cm-attribute,
  span.cm-builtin,
  span.cm-error,
  span.cm-keyword,
  span.cm-quote {
    color: var(--theme-highlight-red)!important
  }
  span.cm-number,
  span.cm-string,
  span.cm-string-2 {
    color: #6b89ff!important
  }
  span.cm-bracket,
  span.cm-def,
  span.cm-header,
  span.cm-link:visited,
  span.cm-qualifier,
  span.cm-tag,
  span.cm-variable-2 {
    color: var(--theme-highlight-blue)!important
  }
  span.cm-property {
    color: var(--theme-highlight-green)!important
  }
  span.cm-variable {
    color: var(--theme-highlight-purple)!important
  }
  span.cm-special,
  span.cm-variable-3 {
    color: var(--in-content-text-color)!important
  }
  span.cm-link {
    color: var(--in-content-box-border-color)!important
  }
  span.cm-operator {
    color: var(--in-content-page-color)!important
  }
  .CodeMirror-activeline-background {
    background: var(--cm-active-line-background)!important
  }
  .CodeMirror-matchingbracket {
    outline: var(--cm-matching-bracket) solid 1px!important;
    color: var(--cm-cursor)!important
  }
  .CodeMirror-merge-l-chunk {
    background: var(--in-content-page-background)!important
  }
  .cm-search-widget {
    background-color: var(--theme-sidebar-background)!important;
    border: 1px solid;
    border-bottom: none!important;
    border-color: var(--in-content-category-header-background)!important;
    max-height: 15px!important;
    justify-content: right!important
  }
  .cm-search-widget input {
    -moz-appearance: none!important;
    background-color: var(--cm-search-background)!important;
    border: 1px solid!important;
    border-color: var(--in-content-table-border-dark-color)!important;
    color: var(--in-content-page-color)!important;
    border-radius: 8px!important;
    padding-left: 8px!important
  }
  .cm-searching {
    background-color: var(--warning-background-color)!important
  }
  .cm-staticOpt {
    background-color: var(--in-content-box-background)!important;
    font-weight: 700
  }
  .CodeMirror-merge-gap {
    background-color: var(--theme-sidebar-background)!important;
    border-top: 1px solid!important;
    border-bottom: 1px solid!important;
    border-right: none!important;
    border-left: none!important;
    border-color: var(--cm-background)!important
  }
  .CodeMirror-merge {
    border: none!important
  }
  .cm-search-widget span.fa {
    color: var(--in-content-border-color)!important;
    font-size: 100%!important
  }
  .cm-staticext {
    color: var(--theme-highlight-blue)!important
  }
  .cm-staticnetBlock {
    color: var(--cm-red)!important
  }
  .cm-staticnetAllow {
    color: var(--theme-highlight-green)!important
  }
}
/*! Icons */
/*! Redirector button for dark Firefox themes */
toolbarbutton#toggle-button--redirectoreinaregilssoncom-redirector[image*=active] {
  filter: invert(100%) brightness(600%)
}
toolbarbutton#toggle-button--redirectoreinaregilssoncom-redirector[image*=disabled] {
  filter: invert(100%) brightness(250%)
}
