@-moz-document url-prefix("moz-extension://{e4a8a97b-f2ed-450b-b12d-ee082ba24781}/") {
  body,
  html {
    background: var(--in-content-page-background)!important
  }
  #tabs .tab.active,
  .command-item {
    background: var(--tone-8)!important;
    color: var(--in-content-page-color)!important
  }
  .subview-back::before {
    content: url(/skin/back.svg);
    filter: invert(65%)
  }
  .subview-back:focus,
  .subview-back:hover,
  .subview-item:focus,
  .subview-item:hover {
    background-color: var(--in-content-category-background-hover)!important;
    cursor: default;
    color: inherit;
    text-decoration: none
  }
  .subview-item .icon,
  .subview-item .text {
    background: 0 0!important
  }
}