/*! Alters the webextension Multi-Account Containers
  IMPORTANT: change the Internal UUID in BOTH locations */
@-moz-document url-prefix("moz-extension://multi_account_containers_UUID/") {
  #current-tab,
  .column-panel-content,
  html body div#container-panel.panel.container-panel {
    background: var(--tone-6)!important;
    color: var(--tone-4)!important
  }
  #current-tab > h3,
  .container-info-list,
  .panel-header-text {
    color: var(--tone-4)!important
  }
  #container-panel #sort-containers-link {
    border-color: var(--tone-5)!important;
    color: var(--tone-4)!important
  }
  #container-panel #sort-containers-link:hover,
  .clickable:hover {
    background: var(--tone-7)!important
  }
  .container-panel-row {
    background-color: var(--tone-6)!important;
    border-block-end: 1px solid var(--tone-5);
    color: var(--tone-4)!important
  }
  .scrollable {
    border-block-start: 1px solid var(--tone-5)!important;
    background: var(--tone-6)!important
  }
  .panel-footer {
    background: var(--tone-7)!important;
    border-block-end: 1px solid var(--tone-7)!important
  }
  .container-panel-row:focus .clickable.userContext-wrapper,
  .container-panel-row:hover .clickable.userContext-wrapper,
  .container-panel-row:hover .pop-button,
  .panel-header {
    background: var(--tone-7)!important
  }
  .panel-back-arrow {
    background: var(--tone-6)!important
  }
  .back-arrow-img {
    filter: invert(65%)!important
  }
  .container-panel-row {
    border-block-end: 1px solid var(--tone-5)!important
  }
  #current-tab > label > input[disabled] {
    background-color: var(--tone-5)!important;
    border-color: var(--tone-4)!important
  }
  #current-tab > label > input:checked {
    filter: invert(100%);
    border-color: var(--tone-5)!important
  }
  .column-panel-content form {
    background: var(--tone-6)!important
  }
  .pop-button-image-small {
    filter: invert(650%)!important
  }
  .edit-container-panel fieldset,
  .edit-containers-text a {
    color: var(--tone-4)!important
  }
  .edit-container-panel input[type=text] {
    background: var(--tone-8)!important;
    color: var(--tone-4)!important;
    border-color: var(--tone-5)!important
  }
  [data-identity-color=grey] {
    --identity-icon-color: var(--tone-4)!important
  }
  .button {
    color: var(--tone-4)!important
  }
  .container-notification {
    background: var(--tone-7)!important;
    color: var(--tone-4)!important
  }
  .edit-containers-text {
    border-inline-end: solid 0 #d8d8d8!important
  }
}
/*! Alters the webextension Multi-Account Containers
  IMPORTANT: change the Internal UUID in BOTH locations */
@-moz-document url-prefix("moz-extension://multi_account_containers_UUID/confirm-page") {
  body {
    background-color: var(--tone-7)!important
  }
  .title-text,
  body {
    color: var(--tone-4)!important
  }
  #redirect-url {
    background: var(--tone-8)!important
  }
  .button-container > button:first-child {
    background: var(--tone-6)!important;
    border-color: var(--tone-5)!important
  }
  .button-container > button:first-child:hover {
    background: var(--tone-8)!important
  }
  #never-ask {
    -moz-appearance: none!important;
    background-color: var(--tone-6)!important;
    border-color: var(--tone-5)!important;
    background-image: none!important;
    box-shadow: none!important
  }
  #never-ask:checked {
    background-image: url(chrome://global/skin/in-content/check.svg)!important;
    background-color: var(--tone-6)!important
  }
}
