/*! Alters the webextension Neat URL
  IMPORTANT: change the Internal UUID */
@-moz-document url-prefix("moz-extension://neat_url_UUID/") {
  body,
  h2,
  label {
    color: var(--tone-4)!important
  }
  input,
  textarea {
    -moz-appearance: none!important;
    background: var(--tone-6)!important;
    color: var(--tone-4)!important;
    border-color: var(--tone-5)!important;
    padding: 5px!important
  }
  a:link {
    color: var(--accent-1)!important
  }
  button {
    background-color: var(--tone-8)!important;
    color: var(--tone-4)!important;
    border-color: var(--tone-5)!important
  }
  button:hover {
    background-color: var(--tone-7)!important
  }
}