.pkt_ext_containersaved h2 {
  color: var(--tone-4)!important
}
.pkt_ext_containersaved .pkt_ext_tag_detail {
  border-color: var(--tone-5)!important;
  background: var(--tone-6)!important
}
.pkt_ext_containersaved .pkt_ext_tag_input_wrapper {
  background-color: var(--tone-6)!important;
  border-color: var(--tone-5)!important
}
.pkt_ext_containersaved .pkt_ext_tag_input_wrapper input::placeholder {
  color: var(--tone-4)!important
}
.pkt_ext_containersaved .pkt_ext_tag_input_wrapper input {
  background-color: var(--tone-6)!important;
  color: var(--tone-4)!important
}
.pkt_ext_containersaved .pkt_ext_btn {
  background: var(--tone-8)!important
}
.pkt_ext_containersaved .token-input-token {
  border-color: var(--tone-5)!important;
  background-color: var(--tone-7)!important;
  color: var(--tone-4)!important
}
.token-input-dropdown-tag {
  background: var(--tone-6)!important;
  border-color: var(--tone-5)!important
}
.token-input-dropdown-tag ul li {
  color: var(--tone-4)!important
}