.pkt_ext_containersaved .pkt_ext_tag_input_wrapper input::placeholder,
.pkt_ext_containersaved h2,
.token-input-dropdown-tag ul li {
  color: var(--in-content-page-color)!important
}
.pkt_ext_containersaved .pkt_ext_tag_detail,
.pkt_ext_containersaved .pkt_ext_tag_input_wrapper,
.token-input-dropdown-tag {
  border-color: var(--in-content-box-border-color)!important;
  background: var(--in-content-box-background)!important
}
.pkt_ext_containersaved .pkt_ext_tag_input_wrapper input {
  background-color: var(--in-content-box-background)!important;
  color: var(--in-content-page-color)!important
}
.pkt_ext_containersaved .pkt_ext_btn {
  background: var(--in-content-category-header-background)!important
}
.pkt_ext_containersaved .token-input-token {
  border-color: var(--in-content-box-border-color)!important;
  background-color: var(--in-content-table-border-dark-color)!important;
  color: var(--in-content-page-color)!important
}
