/*! Alters the webextension Request Control
  IMPORTANT: change the Internal UUID */
@-moz-document url-prefix("moz-extension://{1b1e6108-2d88-4f0f-a338-01f9dbcccd6f}/") {
  * {
    color: var(--in-content-page-color)!important
  }
  body {
    background-color: var(--in-content-page-background)!important
  }
  .page-header,
  hr {
    border-color: var(--in-content-box-border-color)!important
  }
  .nav-tabs.nav-justified > li > a {
    border-bottom-color: var(--in-content-box-border-color)!important
  }
  .badge {
    color: var(--in-content-text-color)!important
  }
  .rule:not(.editing):not(:hover) {
    background-color: var(--in-content-box-background)!important
  }
  .editing .rule-header,
  .list-group-item,
  .rule:hover:not(.editing) {
    background-color: var(--in-content-box-background-hover)!important;
    border-color: var(--in-content-box-border-color)!important
  }
  .nav-tabs > li > a:hover,
  .nav-tabs > li.active > a,
  .nav-tabs > li.active > a:focus,
  .nav-tabs > li.active > a:hover {
    background-color: var(--in-content-category-header-background)!important;
    border-color: var(--in-content-box-border-color)!important
  }
  tabs.nav-justified > li > a {
    border-bottom: 1px solid!important;
    border-color: var(--in-content-box-border-color)!important
  }
  .btn-default {
    background-color: var(--in-content-page-background)!important;
    border-color: var(--in-content-box-border-color)!important
  }
  .btn-default.active {
    background-color: var(--in-content-box-background-active)!important
  }
  .btn-default:hover {
    background-color: var(--in-content-box-background-hover)!important
  }
  .list-group-item:first-child {
    background: var(--in-content-box-background)!important;
    border-color: var(--in-content-box-border-color)!important
  }
  .table,
  .table-striped > tbody > tr:nth-of-type(2n+1) {
    background-color: var(--in-content-box-background)!important
  }
  .tags-input,
  input[type=text],
  select {
    background: var(--in-content-page-background)!important;
    color: var(--in-content-text-color)!important;
    border-color: var(--in-content-box-border-color)!important
  }
  .tags-input .tag {
    background: var(--in-content-item-selected)!important;
    border-color: var(--in-content-box-border-color)!important
  }
  button img,
  img.arrow {
    filter: invert(65%)!important
  }
}