/*! Alters the webextension Request Control
  IMPORTANT: change the Internal UUID */
@-moz-document url-prefix("moz-extension://request_control_UUID/") {
  body {
    background-color: var(--tone-7)!important;
    color: var(--tone-4)!important
  }
  .rule:not(.editing):not(:hover) {
    background-color: var(--tone-6)!important;
    border-color: var(--tone-5)!important
  }
  .rule:hover:not(.editing) {
    background-color: var(--tone-8)!important;
    border-color: var(--tone-5)!important
  }
  .nav-tabs > li.active > a,
  .nav-tabs > li.active > a:focus,
  .nav-tabs > li.active > a:hover {
    color: var(--tone-4)!important;
    background-color: var(--tone-8)!important;
    border-color: var(--tone-5)!important
  }
  .nav-tabs > li > a:hover {
    background-color: var(--tone-8)!important;
    border: 1px solid!important
  }
  tabs.nav-justified > li > a {
    border-bottom: 1px solid!important
  }
  .btn-default {
    color: var(--tone-4)!important;
    background-color: var(--tone-8)!important;
    border-color: var(--tone-5)!important
  }
  .btn-default.active {
    background-color: var(--tone-6)!important
  }
  .btn-default:hover {
    color: var(--tone-4)!important;
    background-color: var(--tone-5)!important;
    border-color: var(--tone-5)!important
  }
  .list-group-item:first-child {
    background: var(--tone-6)!important;
    border-color: var(--tone-5)!important
  }
  .table {
    background: var(--tone-6)!important
  }
  .table-striped > tbody > tr:nth-of-type(2n+1) {
    background-color: var(--tone-8)!important
  }
  .btn-group-params > .tags-input,
  .input-group .form-control:first-child,
  .input-group-addon:first-child,
  .input-group-btn:first-child > .btn,
  .input-group-btn:first-child > .btn-group > .btn,
  .input-group-btn:first-child > .dropdown-toggle,
  .input-group-btn:last-child > .btn-group:not(:last-child) > .btn,
  .input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle),
  select.input-sm {
    background: var(--tone-5)!important;
    color: var(--grey-30)!important;
    border-color: var(--tone-4)!important
  }
  .list-group-item {
    background-color: var(--tone-6)!important;
    border: 1px solid #ddd
  }
  .tags-input .tag {
    background: var(--tone-8)!important;
    border-color: var(--tone-5)!important;
    color: var(--tone-4)!important
  }
}