/*! Alters the webextension Request Control
  IMPORTANT: change the Internal UUID */
@-moz-document url-prefix("moz-extension://request_control_UUID/") {
  * {
    color: var(--in-content-page-color) !important;
  }
  
  body {
    background-color: var(--in-content-page-background)!important;
  }
  hr,
  .page-header{
    border-color: var(--in-content-box-border-color)!important
  }
  .nav-tabs.nav-justified > li > a {
    border-bottom-color: var(--in-content-box-border-color)!important
  }
  .badge {
    color: var(--in-content-text-color) !important;
  }
  .rule:not(.editing):not(:hover) {
    background-color: var(--in-content-box-background)!important;
  }
  .rule:hover:not(.editing),
  .list-group-item,
  .editing .rule-header{
    background-color: var(--in-content-box-background-hover)!important;
    border-color: var(--in-content-box-border-color)!important
  }
  .nav-tabs > li.active > a,
  .nav-tabs > li.active > a:focus,
  .nav-tabs > li.active > a:hover,
  .nav-tabs > li > a:hover{
    background-color: var(--in-content-category-header-background)!important;
    border-color: var(--in-content-box-border-color)!important
  }
  tabs.nav-justified > li > a {
    border-bottom: 1px solid!important;
    border-color: var(--in-content-box-border-color)!important
  }
  .btn-default {
    background-color: var(--in-content-page-background)!important;
    border-color: var(--in-content-box-border-color)!important
  }
  .btn-default.active {
    background-color: var(--in-content-box-background-active)!important
  }
  .btn-default:hover {
    background-color: var(--in-content-box-background-hover)!important
  }
  .list-group-item:first-child {
    background: var(--in-content-box-background)!important;
    border-color: var(--in-content-box-border-color)!important
  }
  .table,
  .table-striped > tbody > tr:nth-of-type(2n+1) {
    background-color: var(--in-content-box-background)!important
  }
  input[type="text"],
  select,
  .tags-input {
    background: var(--in-content-page-background)!important;
    color: var(--in-content-text-color)!important;
    border-color: var(--in-content-box-border-color)!important
  }
  .tags-input .tag {
    background: var(--in-content-item-selected)!important;
    border-color: var(--in-content-box-border-color)!important;
  }
  img.arrow,
  button img{
    filter: invert(65%) !important;
  }

}
