/*! Alters the webextension Skip Redirect
  IMPORTANT: change the Internal UUID */
@-moz-document url-prefix("moz-extension://skip_redirect_UUID/") {
  body {
    background: var(--tone-6)!important;
    color: var(--tone-4)!important
  }
  input[type=number],
  input[type=text],
  textarea {
    -moz-appearance: none!important;
    background: var(--tone-5)!important;
    color: var(--grey-30)!important
  }
  label a {
    color: var(--accent-1)!important
  }
}