/*! Alters the webextension Smart Referer
  IMPORTANT: change the Internal UUID */
@-moz-document url-prefix("moz-extension://smart_referer_UUID/") {
  body,
  body > [data-option] > .label.with-description > p,
  body > [data-option] > label.with-description > p {
    color: var(--in-content-page-color)!important;
    text-shadow: none!important
  }
  input[type=text] {
    -moz-appearance: none!important;
    background-color: var(--in-content-box-background)!important;
    border: 1px solid!important;
    border-color: var(--in-content-box-border-color)!important;
    color: var(--in-content-page-color)!important
  }
  button[type=submit] {
    filter: invert(65%)
  }
}