/*! Alters the webextension Tree Style Tab
  IMPORTANT: change the Internal UUID in BOTH locations */
@-moz-document url-prefix("moz-extension://tree_style_tab_UUID/") {
  #debug-configs,
  p,
  ul {
    color: var(--tone-4)!important
  }
  h1,
  legend {
    color: var(--accent-1)!important
  }
  a {
    color: var(--accent-2)!important
  }
  #autoGroupNewTabsDelayOnNewWindow,
  #autoGroupNewTabsTimeout,
  #importedConfigsFromLegacy,
  #importedTreeStructureFromLegacy,
  #legacyConfigsNextMigrationVersion,
  #userStyleRules {
    -moz-appearance: none!important;
    background: var(--tone-6)!important;
    color: var(--tone-4)!important;
    border-color: var(--tone-5)!important
  }
  #contextual-identities-selector,
  #newtab-action-selector,
  #tabContextMenu,
  .extra.has-submenu ul {
    background: var(--tone-6)!important;
    border: none!important
  }
  .menu-ui-59858.menu-ui.menu li.separator {
    border-color: var(--in-content-box-border-color)!important
  }
}
/*! Alters the webextension Tree Style Tab
  IMPORTANT: change the Internal UUID in BOTH locations */
@-moz-document url-prefix("moz-extension://tree_style_tab_UUID/resources/group-tab.html") {
  :root {
    background: var(--tone-7)!important;
    color: ButtonText
  }
  h1::before {
    background: var(--tone-4)!important
  }
  #tabs img[src="https://assets-cdn.github.com/favicon.ico"] {
    filter: invert(55%)!important
  }
}