/*! Alters the webextension uBlock Origin
  IMPORTANT: change the Internal UUID */
@-moz-document url-prefix("moz-extension://ublock_origin_UUID/") {
  button.custom {
    background-color: var(--in-content-page-background)!important;
    background-image: none!important;
    border-color: var(--in-content-box-border-color)!important;
    color: var(--in-content-text-color)!important;
    opacity: 1!important
  }
  button#bye,
  button#proceedPermanent,
  button#proceedTemporary {
    -moz-appearance: none!important;
    background-image: none!important;
    background-color: var(--in-content-page-background)!important;
    color: var(--in-content-page-color)!important;
    border: 1px solid!important;
    border-color: var(--in-content-box-border-color)!important;
    border-radius: 3px!important
  }
  button#bye:hover,
  button#proceedPermanent:hover,
  button#proceedTemporary:hover,
  button.custom:hover {
    background-color: var(--in-content-box-background-hover)!important
  }
  button.custom.disabled,
  button.custom[disabled] {
    opacity: .5!important
  }
  #appinfo {
    background-color: var(--tone-8)!important;
    color: var(--tone-4)!important
  }
  #panes,
  body,
  body[dir=ltr] #panes > div {
    background: var(--tone-7)!important;
    color: var(--tone-4)!important
  }
  #diff {
    border-color: var(--tone-5)!important
  }
  #whyex a,
  label a,
  p a,
  ul a,
  ul#userSettings .subgroup > span {
    color: var(--accent-1)!important
  }
  #whyex a:visited,
  .content:visited {
    color: var(--in-content-link-color-visited)!important
  }
  #dashboard-nav-widgets span {
    color: var(--tone-4)!important
  }
  a.info {
    color: var(--tone-4)!important;
    opacity: .5
  }
  li.listEntry span.status {
    color: var(--tone-4)!important
  }
  li.listEntry > a.remove,
  li.listEntry > a.remove:visited {
    color: var(--red-80)!important
  }
  #switch .fa {
    color: var(--accent-1)!important
  }
  .tool,
  body.off #switch .fa {
    color: var(--tone-4)!important
  }
  #extraTools > span:hover,
  .tool.enabled:hover,
  body.dirty #refresh:hover {
    color: var(--tone-2)!important
  }
  #extraTools,
  h2 {
    background-color: var(--tone-8)!important;
    color: var(--tone-4)!important
  }
  #refresh {
    background-color: var(--tone-8)!important;
    border-color: var(--tone-5)!important
  }
  #extraTools > span > span.badge {
    color: var(--tone-4)!important
  }
  #firewallContainer > div {
    background-color: var(--tone-6)!important
  }
  #firewallContainer > div > span {
    color: var(--tone-4)!important;
    border-color: var(--tone-5)!important
  }
  #netFilteringDialog .dialog > div.containers > div.dynamic tr.entry > td > div.action.own.block,
  body.advancedUser #firewallContainer > div > span.blockRule.ownRule {
    background-color: #ab0000!important;
    color: var(--tone-2)!important
  }
  #netFilteringDialog .dialog > div.containers > div.dynamic tr.entry > td > div.action > span.block,
  body.advancedUser #firewallContainer > div > span.blockRule {
    background-color: #dda0a2!important;
    color: var(--tone-2)!important
  }
  #firewallContainer > div.blocked > span:first-of-type::before,
  #firewallContainer.minimized > div.isDomain.totalBlocked > span:first-of-type::before {
    background-color: #c87576!important;
    opacity: 1!important;
    color: var(--tone-2)!important
  }
  #netFilteringDialog .dialog > div.containers > div.dynamic tr.entry > td > div.action.own.allow,
  body.advancedUser #firewallContainer > div > span.allowRule.ownRule {
    background-color: #229400!important;
    color: var(--tone-2)!important
  }
  #netFilteringDialog .dialog > div.containers > div.dynamic tr.entry > td > div.action > span.allow,
  body.advancedUser #firewallContainer > div > span.allowRule {
    background-color: #95ca8a!important;
    color: var(--tone-2)!important
  }
  #firewallContainer > div.allowed > span:first-of-type::before,
  #firewallContainer.minimized > div.isDomain.totalAllowed > span:first-of-type::before {
    background-color: #7ec26f!important;
    color: var(--tone-2)!important;
    opacity: 1!important
  }
  #actionSelector > span:nth-of-type(2),
  #netFilteringDialog .dialog > div.containers > div.dynamic tr.entry > td > div.action.own.noop,
  body.advancedUser #firewallContainer > div > span.noopRule.ownRule {
    background-color: #0c46a7!important;
    color: var(--tone-2)!important
  }
  #netFilteringDialog .dialog > div.containers > div.dynamic tr.entry > td > div.action > span.noop,
  body.advancedUser #firewallContainer > div > span.noopRule {
    background-color: #65bdfb!important;
    color: var(--tone-2)!important
  }
  #firewallContainer > div.allowed.blocked > span:first-of-type::before,
  #firewallContainer.minimized > div.isDomain.totalAllowed.totalBlocked > span:first-of-type::before {
    background-color: #cdc16e!important;
    opacity: 1!important
  }
  body.advancedUser #firewallContainer.colorBlind > div > span.blockRule.ownRule {
    background-color: #000060!important
  }
  body.advancedUser #firewallContainer.colorBlind > div > span.blockRule {
    background-color: #787dab!important
  }
  body.advancedUser #firewallContainer.colorBlind > div > span.allowRule.ownRule {
    background-color: #fbb900!important
  }
  body.advancedUser #firewallContainer.colorBlind > div > span.allowRule {
    background-color: #f2d98d!important
  }
  body.advancedUser #firewallContainer.colorBlind > div > span.noopRule.ownRule {
    background-color: #2f2e2e!important
  }
  body.advancedUser #firewallContainer.colorBlind > div > span.noopRule {
    background-color: #a1a1a1!important
  }
  #firewallContainer.colorBlind > div.allowed > span:first-of-type::before,
  #firewallContainer.colorBlind.minimized > div.isDomain.totalAllowed > span:first-of-type::before {
    background-color: #ebd287!important
  }
  #firewallContainer.colorBlind > div.blocked > span:first-of-type::before,
  #firewallContainer.colorBlind.minimized > div.isDomain.totalBlocked > span:first-of-type::before {
    background-color: #787cab!important
  }
  #dashboard-nav-widgets {
    border-color: var(--tone-5)!important;
    background-color: var(--tone-8)!important
  }
  .tabButton {
    background-color: var(--tone-7)!important;
    color: var(--tone-4)!important;
    border-bottom: 1px solid!important;
    border-color: var(--tone-5)!important
  }
  .tabButton.selected {
    background-color: var(--tone-8)!important;
    border-color: var(--tone-5)!important
  }
  #ruleFilter input,
  input[type=number] {
    -moz-appearance: none!important;
    background-color: var(--tone-6)!important;
    border: 1px solid!important;
    border-color: var(--tone-5)!important;
    color: var(--tone-4)!important
  }
  li.listEntry .content {
    color: var(--accent-1)!important
  }
  #diff .pane {
    color: var(--tone-4)!important;
    background: var(--tone-7)!important
  }
  #diff li,
  code {
    background-color: var(--tone-6)!important
  }
  #diff li:nth-child(2n) {
    background-color: var(--tone-7)!important
  }
  #whitelist textarea {
    background: var(--tone-6)!important;
    color: var(--tone-4)!important
  }
  textarea#externalLists,
  textarea#userFilters.userFilters {
    -moz-appearance: none!important;
    background: var(--tone-6)!important;
    color: var(--tone-4)!important;
    border: 1px solid!important;
    border-color: var(--tone-4)!important
  }
  .permatoolbar {
    background-color: var(--tone-7)!important
  }
  .permatoolbar #refresh,
  .permatoolbar .button {
    background-color: transparent!important
  }
  .permatoolbar #refresh,
  .permatoolbar .button:hover {
    background-color: var(--grey-60)!important
  }
  #netInspector tr.blocked {
    background-color: #4b3137!important;
    color: #ff9494!important
  }
  #netInspector #filterInput,
  #netInspector #maxEntries {
    -moz-appearance: none!important;
    background: var(--tone-6)!important;
    color: var(--tone-4)!important;
    border: 1px solid!important;
    padding: 5px!important
  }
  #netInspector tr.cosmetic,
  #netInspector tr.redirect {
    background-color: #44391f!important;
    color: #fce19f!important
  }
  #netInspector tr.cat_net td:nth-of-type(4):hover,
  body:not(.popupOn) #netInspector tr.canMtx td:nth-of-type(2):hover {
    background: var(--tone-8)!important
  }
  .modalDialog .dialog {
    background-color: var(--tone-8)!important;
    border-color: var(--tone-5)!important
  }
  #netFilteringDialog .dialog > div.headers > span.header.selected {
    background-color: var(--tone-8)!important;
    color: var(--tone-4)!important;
    border-color: var(--tone-6)!important
  }
  #netFilteringDialog .dialog > div.headers > span.header {
    background-color: var(--tone-7)!important;
    border-color: var(--tone-6)!important
  }
  #netFilteringDialog .dialog > div.containers > div.dynamic tr.entry {
    background-color: var(--tone-6)!important;
    border-color: var(--tone-5)!important
  }
  #netFilteringDialog .dialog > div.containers > div.dynamic tr.entry > td:first-of-type {
    border-color: var(--tone-5)!important
  }
  #netFilteringDialog .dialog > div.containers > div.dynamic > table.toolbar #saveRules {
    background-color: var(--tone-6)!important;
    border: none!important
  }
  body #netInspector td {
    border-color: var(--tone-5)!important
  }
  #netInspector tr.maindoc {
    background-color: var(--tone-8)!important;
    color: var(--grey-30)!important
  }
  li.listEntry > a.remove,
  li.listEntry > a.remove:visited,
  li.listEntry span.failed,
  li.listEntry span.unsecure {
    color: #de7474!important
  }
  a.fa.support,
  a.mustread {
    color: var(--in-content-page-color)!important
  }
  li.listEntry.mustread > a.mustread:hover {
    color: var(--accent-2)!important
  }
  li.listEntry span.obsolete {
    color: var(--warning-color)!important
  }
}
@-moz-document url-prefix("about:blank") {
  aside {
    background-color: var(--in-content-page-background)!important;
    border-color: var(--tone-8)!important;
    color: var(--in-content-page-color)!important
  }
  ul > li > ul > li:hover {
    background-color: var(--in-content-box-background)!important
  }
  section > div:first-child > textarea {
    background-color: var(--in-content-box-background)!important;
    color: var(--in-content-page-color)!important
  }
  section > div:first-child {
    border-color: var(--in-content-box-border-color)!important
  }
  section.invalidFilter > div:first-child {
    border-color: red!important
  }
  button {
    background-color: var(--in-content-page-background)!important;
    border-color: var(--in-content-box-border-color)!important;
    color: var(--in-content-page-color)!important
  }
  button:disabled {
    color: var(--tone-5)!important
  }
  button:not(:disabled):hover {
    background-color: var(--in-content-box-background-hover)!important
  }
  #create:not(:disabled) {
    background-color: var(--theme-highlight-yellow)!important;
    color: #000!important
  }
  body.preview #preview {
    background-color: var(--theme-highlight-blue)!important;
    color: #000!important
  }
}
