/*! Alters the webextension uBO-Scope
  IMPORTANT: change the Internal UUID */
@-moz-document url-prefix("moz-extension://uBO-Scope@raymondhill.net/") {
  #heatmaps .togglerBar,
  body,
  body.theoretical #heatmaps .heatmap.theoretical {
    background: var(--tone-6)!important
  }
  #heatmaps {
    background-color: var(--in-content-box-border-color)!important
  }
  #domain3rdDetails {
    border-color: var(--in-content-box-border-color)!important;
    background-color: var(--in-content-page-background)!important
  }
  #topPane {
    background-color: var(--tone-6)!important;
    color: var(--tone-4)!important
  }
  #heatmaps .heatmap {
    border: none;
    background: var(--tone-6)!important
  }
  #heatmaps.list .hmcell {
    background-color: var(--tone-6)!important;
    color: var(--tone-4)!important
  }
  #domain3rdDetails #authority {
    background-color: var(--tone-8)!important;
    position: relative
  }
  #scores .scores .score.actual {
    color: #fff!important
  }
  #scores .scores .score.theoretical,
  body.theoretical #scores .scores .score.actual {
    color: var(--tone-7)!important
  }
  body.theoretical #scores .scores .score.theoretical {
    color: var(--tone-4)!important
  }
}
@-moz-document url-prefix("moz-extension://uBO-Scope@raymondhill.net/options.html") {
  body,
  html {
    background-color: var(--in-content-page-background)!important;
    color: var(--in-content-page-color)!important
  }
  * {
    border-color: var(--in-content-box-border-color)!important
  }
}
