/*! Alters the webextension uMatrix
  IMPORTANT: change the Internal UUID */
@-moz-document url-prefix("moz-extension://9eba7fab-892c-7b42-a57e-b876d4196d70/") {
  .t81 {
    color: #fff;
    background-color: #db4c4c!important
  }
  .t82 {
    background-color: #4cab4c!important
  }
  .t2 {
    border-color: #b2dbb2!important;
    color: #000;
    background-color: #b2dbb2!important
  }
  /*! Light red */
.t1 {
    border-color: #efb2b2!important;
    color: #000;
    background-color: #efb2b2!important
  }
  .matCell.p81 {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAATCAYAAACk9eypAAAACXBIWXMAAA3XAAAN1wFCKJt4AAAKT2lDQ1BQaG90b3Nob3AgSUNDIHByb2ZpbGUAAHjanVNnVFPpFj333vRCS4iAlEtvUhUIIFJCi4AUkSYqIQkQSoghodkVUcERRUUEG8igiAOOjoCMFVEsDIoK2AfkIaKOg6OIisr74Xuja9a89+bN/rXXPues852zzwfACAyWSDNRNYAMqUIeEeCDx8TG4eQuQIEKJHAAEAizZCFz/SMBAPh+PDwrIsAHvgABeNMLCADATZvAMByH/w/qQplcAYCEAcB0kThLCIAUAEB6jkKmAEBGAYCdmCZTAKAEAGDLY2LjAFAtAGAnf+bTAICd+Jl7AQBblCEVAaCRACATZYhEAGg7AKzPVopFAFgwABRmS8Q5ANgtADBJV2ZIALC3AMDOEAuyAAgMADBRiIUpAAR7AGDIIyN4AISZABRG8lc88SuuEOcqAAB4mbI8uSQ5RYFbCC1xB1dXLh4ozkkXKxQ2YQJhmkAuwnmZGTKBNA/g88wAAKCRFRHgg/P9eM4Ors7ONo62Dl8t6r8G/yJiYuP+5c+rcEAAAOF0ftH+LC+zGoA7BoBt/qIl7gRoXgugdfeLZrIPQLUAoOnaV/Nw+H48PEWhkLnZ2eXk5NhKxEJbYcpXff5nwl/AV/1s+X48/Pf14L7iJIEyXYFHBPjgwsz0TKUcz5IJhGLc5o9H/LcL//wd0yLESWK5WCoU41EScY5EmozzMqUiiUKSKcUl0v9k4t8s+wM+3zUAsGo+AXuRLahdYwP2SycQWHTA4vcAAPK7b8HUKAgDgGiD4c93/+8//UegJQCAZkmScQAAXkQkLlTKsz/HCAAARKCBKrBBG/TBGCzABhzBBdzBC/xgNoRCJMTCQhBCCmSAHHJgKayCQiiGzbAdKmAv1EAdNMBRaIaTcA4uwlW4Dj1wD/phCJ7BKLyBCQRByAgTYSHaiAFiilgjjggXmYX4IcFIBBKLJCDJiBRRIkuRNUgxUopUIFVIHfI9cgI5h1xGupE7yAAygvyGvEcxlIGyUT3UDLVDuag3GoRGogvQZHQxmo8WoJvQcrQaPYw2oefQq2gP2o8+Q8cwwOgYBzPEbDAuxsNCsTgsCZNjy7EirAyrxhqwVqwDu4n1Y8+xdwQSgUXACTYEd0IgYR5BSFhMWE7YSKggHCQ0EdoJNwkDhFHCJyKTqEu0JroR+cQYYjIxh1hILCPWEo8TLxB7iEPENyQSiUMyJ7mQAkmxpFTSEtJG0m5SI+ksqZs0SBojk8naZGuyBzmULCAryIXkneTD5DPkG+Qh8lsKnWJAcaT4U+IoUspqShnlEOU05QZlmDJBVaOaUt2ooVQRNY9aQq2htlKvUYeoEzR1mjnNgxZJS6WtopXTGmgXaPdpr+h0uhHdlR5Ol9BX0svpR+iX6AP0dwwNhhWDx4hnKBmbGAcYZxl3GK+YTKYZ04sZx1QwNzHrmOeZD5lvVVgqtip8FZHKCpVKlSaVGyovVKmqpqreqgtV81XLVI+pXlN9rkZVM1PjqQnUlqtVqp1Q61MbU2epO6iHqmeob1Q/pH5Z/YkGWcNMw09DpFGgsV/jvMYgC2MZs3gsIWsNq4Z1gTXEJrHN2Xx2KruY/R27iz2qqaE5QzNKM1ezUvOUZj8H45hx+Jx0TgnnKKeX836K3hTvKeIpG6Y0TLkxZVxrqpaXllirSKtRq0frvTau7aedpr1Fu1n7gQ5Bx0onXCdHZ4/OBZ3nU9lT3acKpxZNPTr1ri6qa6UbobtEd79up+6Ynr5egJ5Mb6feeb3n+hx9L/1U/W36p/VHDFgGswwkBtsMzhg8xTVxbzwdL8fb8VFDXcNAQ6VhlWGX4YSRudE8o9VGjUYPjGnGXOMk423GbcajJgYmISZLTepN7ppSTbmmKaY7TDtMx83MzaLN1pk1mz0x1zLnm+eb15vft2BaeFostqi2uGVJsuRaplnutrxuhVo5WaVYVVpds0atna0l1rutu6cRp7lOk06rntZnw7Dxtsm2qbcZsOXYBtuutm22fWFnYhdnt8Wuw+6TvZN9un2N/T0HDYfZDqsdWh1+c7RyFDpWOt6azpzuP33F9JbpL2dYzxDP2DPjthPLKcRpnVOb00dnF2e5c4PziIuJS4LLLpc+Lpsbxt3IveRKdPVxXeF60vWdm7Obwu2o26/uNu5p7ofcn8w0nymeWTNz0MPIQ+BR5dE/C5+VMGvfrH5PQ0+BZ7XnIy9jL5FXrdewt6V3qvdh7xc+9j5yn+M+4zw33jLeWV/MN8C3yLfLT8Nvnl+F30N/I/9k/3r/0QCngCUBZwOJgUGBWwL7+Hp8Ib+OPzrbZfay2e1BjKC5QRVBj4KtguXBrSFoyOyQrSH355jOkc5pDoVQfujW0Adh5mGLw34MJ4WHhVeGP45wiFga0TGXNXfR3ENz30T6RJZE3ptnMU85ry1KNSo+qi5qPNo3ujS6P8YuZlnM1VidWElsSxw5LiquNm5svt/87fOH4p3iC+N7F5gvyF1weaHOwvSFpxapLhIsOpZATIhOOJTwQRAqqBaMJfITdyWOCnnCHcJnIi/RNtGI2ENcKh5O8kgqTXqS7JG8NXkkxTOlLOW5hCepkLxMDUzdmzqeFpp2IG0yPTq9MYOSkZBxQqohTZO2Z+pn5mZ2y6xlhbL+xW6Lty8elQfJa7OQrAVZLQq2QqboVFoo1yoHsmdlV2a/zYnKOZarnivN7cyzytuQN5zvn//tEsIS4ZK2pYZLVy0dWOa9rGo5sjxxedsK4xUFK4ZWBqw8uIq2Km3VT6vtV5eufr0mek1rgV7ByoLBtQFr6wtVCuWFfevc1+1dT1gvWd+1YfqGnRs+FYmKrhTbF5cVf9go3HjlG4dvyr+Z3JS0qavEuWTPZtJm6ebeLZ5bDpaql+aXDm4N2dq0Dd9WtO319kXbL5fNKNu7g7ZDuaO/PLi8ZafJzs07P1SkVPRU+lQ27tLdtWHX+G7R7ht7vPY07NXbW7z3/T7JvttVAVVN1WbVZftJ+7P3P66Jqun4lvttXa1ObXHtxwPSA/0HIw6217nU1R3SPVRSj9Yr60cOxx++/p3vdy0NNg1VjZzG4iNwRHnk6fcJ3/ceDTradox7rOEH0x92HWcdL2pCmvKaRptTmvtbYlu6T8w+0dbq3nr8R9sfD5w0PFl5SvNUyWna6YLTk2fyz4ydlZ19fi753GDborZ752PO32oPb++6EHTh0kX/i+c7vDvOXPK4dPKy2+UTV7hXmq86X23qdOo8/pPTT8e7nLuarrlca7nuer21e2b36RueN87d9L158Rb/1tWeOT3dvfN6b/fF9/XfFt1+cif9zsu72Xcn7q28T7xf9EDtQdlD3YfVP1v+3Njv3H9qwHeg89HcR/cGhYPP/pH1jw9DBY+Zj8uGDYbrnjg+OTniP3L96fynQ89kzyaeF/6i/suuFxYvfvjV69fO0ZjRoZfyl5O/bXyl/erA6xmv28bCxh6+yXgzMV70VvvtwXfcdx3vo98PT+R8IH8o/2j5sfVT0Kf7kxmTk/8EA5jz/GMzLdsAAAAgY0hSTQAAeiUAAICDAAD5/wAAgOkAAHUwAADqYAAAOpgAABdvkl/FRgAAAIFJREFUeNrs0jEKg0AQRuHnluYE8Q4WCx5DWz2P4PlsFqKQXCOtv0UQEcWd7TOwzfC9aid717WIzbJQDMOUe985C372/Zx73wHBWfCjqlogADgL/jRN2NYuBV8HN/gcRPAxMOA9MOJfkIAB+I7jS1IpCcsjBUsik+KndP8P/+A86wBEqo7b/a3QQwAAAABJRU5ErkJggg==)!important;
    background-repeat: no-repeat;
    background-position: -1px -1px
  }
  /*! Green Corner */
.matCell.p82 {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAATCAYAAACk9eypAAAACXBIWXMAAA3XAAAN1wFCKJt4AAAKT2lDQ1BQaG90b3Nob3AgSUNDIHByb2ZpbGUAAHjanVNnVFPpFj333vRCS4iAlEtvUhUIIFJCi4AUkSYqIQkQSoghodkVUcERRUUEG8igiAOOjoCMFVEsDIoK2AfkIaKOg6OIisr74Xuja9a89+bN/rXXPues852zzwfACAyWSDNRNYAMqUIeEeCDx8TG4eQuQIEKJHAAEAizZCFz/SMBAPh+PDwrIsAHvgABeNMLCADATZvAMByH/w/qQplcAYCEAcB0kThLCIAUAEB6jkKmAEBGAYCdmCZTAKAEAGDLY2LjAFAtAGAnf+bTAICd+Jl7AQBblCEVAaCRACATZYhEAGg7AKzPVopFAFgwABRmS8Q5ANgtADBJV2ZIALC3AMDOEAuyAAgMADBRiIUpAAR7AGDIIyN4AISZABRG8lc88SuuEOcqAAB4mbI8uSQ5RYFbCC1xB1dXLh4ozkkXKxQ2YQJhmkAuwnmZGTKBNA/g88wAAKCRFRHgg/P9eM4Ors7ONo62Dl8t6r8G/yJiYuP+5c+rcEAAAOF0ftH+LC+zGoA7BoBt/qIl7gRoXgugdfeLZrIPQLUAoOnaV/Nw+H48PEWhkLnZ2eXk5NhKxEJbYcpXff5nwl/AV/1s+X48/Pf14L7iJIEyXYFHBPjgwsz0TKUcz5IJhGLc5o9H/LcL//wd0yLESWK5WCoU41EScY5EmozzMqUiiUKSKcUl0v9k4t8s+wM+3zUAsGo+AXuRLahdYwP2SycQWHTA4vcAAPK7b8HUKAgDgGiD4c93/+8//UegJQCAZkmScQAAXkQkLlTKsz/HCAAARKCBKrBBG/TBGCzABhzBBdzBC/xgNoRCJMTCQhBCCmSAHHJgKayCQiiGzbAdKmAv1EAdNMBRaIaTcA4uwlW4Dj1wD/phCJ7BKLyBCQRByAgTYSHaiAFiilgjjggXmYX4IcFIBBKLJCDJiBRRIkuRNUgxUopUIFVIHfI9cgI5h1xGupE7yAAygvyGvEcxlIGyUT3UDLVDuag3GoRGogvQZHQxmo8WoJvQcrQaPYw2oefQq2gP2o8+Q8cwwOgYBzPEbDAuxsNCsTgsCZNjy7EirAyrxhqwVqwDu4n1Y8+xdwQSgUXACTYEd0IgYR5BSFhMWE7YSKggHCQ0EdoJNwkDhFHCJyKTqEu0JroR+cQYYjIxh1hILCPWEo8TLxB7iEPENyQSiUMyJ7mQAkmxpFTSEtJG0m5SI+ksqZs0SBojk8naZGuyBzmULCAryIXkneTD5DPkG+Qh8lsKnWJAcaT4U+IoUspqShnlEOU05QZlmDJBVaOaUt2ooVQRNY9aQq2htlKvUYeoEzR1mjnNgxZJS6WtopXTGmgXaPdpr+h0uhHdlR5Ol9BX0svpR+iX6AP0dwwNhhWDx4hnKBmbGAcYZxl3GK+YTKYZ04sZx1QwNzHrmOeZD5lvVVgqtip8FZHKCpVKlSaVGyovVKmqpqreqgtV81XLVI+pXlN9rkZVM1PjqQnUlqtVqp1Q61MbU2epO6iHqmeob1Q/pH5Z/YkGWcNMw09DpFGgsV/jvMYgC2MZs3gsIWsNq4Z1gTXEJrHN2Xx2KruY/R27iz2qqaE5QzNKM1ezUvOUZj8H45hx+Jx0TgnnKKeX836K3hTvKeIpG6Y0TLkxZVxrqpaXllirSKtRq0frvTau7aedpr1Fu1n7gQ5Bx0onXCdHZ4/OBZ3nU9lT3acKpxZNPTr1ri6qa6UbobtEd79up+6Ynr5egJ5Mb6feeb3n+hx9L/1U/W36p/VHDFgGswwkBtsMzhg8xTVxbzwdL8fb8VFDXcNAQ6VhlWGX4YSRudE8o9VGjUYPjGnGXOMk423GbcajJgYmISZLTepN7ppSTbmmKaY7TDtMx83MzaLN1pk1mz0x1zLnm+eb15vft2BaeFostqi2uGVJsuRaplnutrxuhVo5WaVYVVpds0atna0l1rutu6cRp7lOk06rntZnw7Dxtsm2qbcZsOXYBtuutm22fWFnYhdnt8Wuw+6TvZN9un2N/T0HDYfZDqsdWh1+c7RyFDpWOt6azpzuP33F9JbpL2dYzxDP2DPjthPLKcRpnVOb00dnF2e5c4PziIuJS4LLLpc+Lpsbxt3IveRKdPVxXeF60vWdm7Obwu2o26/uNu5p7ofcn8w0nymeWTNz0MPIQ+BR5dE/C5+VMGvfrH5PQ0+BZ7XnIy9jL5FXrdewt6V3qvdh7xc+9j5yn+M+4zw33jLeWV/MN8C3yLfLT8Nvnl+F30N/I/9k/3r/0QCngCUBZwOJgUGBWwL7+Hp8Ib+OPzrbZfay2e1BjKC5QRVBj4KtguXBrSFoyOyQrSH355jOkc5pDoVQfujW0Adh5mGLw34MJ4WHhVeGP45wiFga0TGXNXfR3ENz30T6RJZE3ptnMU85ry1KNSo+qi5qPNo3ujS6P8YuZlnM1VidWElsSxw5LiquNm5svt/87fOH4p3iC+N7F5gvyF1weaHOwvSFpxapLhIsOpZATIhOOJTwQRAqqBaMJfITdyWOCnnCHcJnIi/RNtGI2ENcKh5O8kgqTXqS7JG8NXkkxTOlLOW5hCepkLxMDUzdmzqeFpp2IG0yPTq9MYOSkZBxQqohTZO2Z+pn5mZ2y6xlhbL+xW6Lty8elQfJa7OQrAVZLQq2QqboVFoo1yoHsmdlV2a/zYnKOZarnivN7cyzytuQN5zvn//tEsIS4ZK2pYZLVy0dWOa9rGo5sjxxedsK4xUFK4ZWBqw8uIq2Km3VT6vtV5eufr0mek1rgV7ByoLBtQFr6wtVCuWFfevc1+1dT1gvWd+1YfqGnRs+FYmKrhTbF5cVf9go3HjlG4dvyr+Z3JS0qavEuWTPZtJm6ebeLZ5bDpaql+aXDm4N2dq0Dd9WtO319kXbL5fNKNu7g7ZDuaO/PLi8ZafJzs07P1SkVPRU+lQ27tLdtWHX+G7R7ht7vPY07NXbW7z3/T7JvttVAVVN1WbVZftJ+7P3P66Jqun4lvttXa1ObXHtxwPSA/0HIw6217nU1R3SPVRSj9Yr60cOxx++/p3vdy0NNg1VjZzG4iNwRHnk6fcJ3/ceDTradox7rOEH0x92HWcdL2pCmvKaRptTmvtbYlu6T8w+0dbq3nr8R9sfD5w0PFl5SvNUyWna6YLTk2fyz4ydlZ19fi753GDborZ752PO32oPb++6EHTh0kX/i+c7vDvOXPK4dPKy2+UTV7hXmq86X23qdOo8/pPTT8e7nLuarrlca7nuer21e2b36RueN87d9L158Rb/1tWeOT3dvfN6b/fF9/XfFt1+cif9zsu72Xcn7q28T7xf9EDtQdlD3YfVP1v+3Njv3H9qwHeg89HcR/cGhYPP/pH1jw9DBY+Zj8uGDYbrnjg+OTniP3L96fynQ89kzyaeF/6i/suuFxYvfvjV69fO0ZjRoZfyl5O/bXyl/erA6xmv28bCxh6+yXgzMV70VvvtwXfcdx3vo98PT+R8IH8o/2j5sfVT0Kf7kxmTk/8EA5jz/GMzLdsAAAAgY0hSTQAAeiUAAICDAAD5/wAAgOkAAHUwAADqYAAAOpgAABdvkl/FRgAAAHNJREFUeNrs0jENgDAQRuHXc8KAAzywFAlYwBgIQAJoIEFKfyZICIT2di7pcvne1AtxjCIzSYmhGda2anvzYGAzDwawEtxN3XbuzYNfgy/8CHL4FpTgKyjFAObBAMz7vEiqJVHy8GBJBCl7Snz+wx+8zDEAx9OY2E5gMz8AAAAASUVORK5CYII=)!important;
    background-repeat: no-repeat;
    background-position: -1px -1px
  }
  body .toolbar #specificScope > span.on {
    background-color: var(--accent-3)!important
  }
  .matRow {
    background: var(--tone-4)!important
  }
  #matHead {
    border-color: var(--in-content-box-border-color)!important
  }
  body[dir=ltr] {
    background-color: var(--tone-7)!important;
    color: var(--tone-4)!important
  }
  #dashboard-nav-widgets {
    background-color: var(--tone-8)!important;
    color: var(--tone-4)!important;
    border-bottom: 1px solid var(--tone-5);
    border-color: var(--tone-5)!important
  }
  .tabButton {
    background: var(--tone-6)!important;
    color: var(--tone-4)!important;
    border-color: var(--tone-5)!important;
    border-bottom: none!important
  }
  .tabButton.selected {
    border-bottom: none!important;
    background-color: var(--tone-7)!important;
    border-color: var(--tone-5)!important;
    color: var(--accent-1)!important
  }
  #backupUserDataButton,
  #clearBrowserCacheAfter,
  #deleteUnusedSessionCookiesAfter,
  #externalHostsFiles,
  #popupScopeLevel,
  #resetUserDataButton,
  #restoreUserDataButton {
    -moz-appearance: none!important;
    background: var(--tone-6)!important;
    color: var(--tone-4)!important;
    border: 1px solid!important;
    border-color: var(--tone-5)!important
  }
  button.custom {
    border-color: var(--tone-5)!important;
    background-color: var(--tone-8)!important;
    background-image: none!important;
    color: #fff!important
  }
  button.custom.disabled,
  button.custom[disabled] {
    border-color: var(--tone-4)!important;
    background-color: var(--tone-5)!important;
    background-image: none!important;
    color: var(--tone-4)!important;
    opacity: .6;
    pointer-events: none
  }
  a {
    color: var(--accent-1)!important
  }
  #diff li {
    background-color: var(--tone-7)!important
  }
  #diff li:nth-of-type(2n),
  .assets > div:first-of-type {
    background-color: var(--tone-8)!important
  }
  .assets {
    border: 1px solid!important;
    border-color: var(--tone-5)!important
  }
  #diff li:hover {
    background-color: var(--accent-1)!important;
    color: #fff!important
  }
  #diff ul {
    border-top: 1px solid!important
  }
  textarea {
    -moz-appearance: none!important;
    background: var(--tone-6)!important;
    color: var(--tone-4)!important;
    border: 1px solid!important;
    border-color: var(--tone-5)!important;
    padding: 5px!important
  }
  #diff textarea {
    border-top: 1px solid!important;
    border-color: var(--tone-5)!important;
    background: var(--tone-6)!important;
    color: var(--tone-4)!important
  }
  #dashboard-nav-widgets {
    border-bottom: 1px solid!important
  }
  .whatisthis-expandable {
    background-color: var(--tone-8)!important;
    border: 1px dotted!important;
    border-color: var(--tone-5)!important
  }
  .paneHead {
    background-color: var(--tone-7)!important
  }
  .paneContent {
    background: var(--tone-4)!important
  }
  #gotoDashboard {
    background-color: var(--tone-8)!important;
    color: var(--tone-4)!important
  }
  body[dir=ltr] #gotoDashboard > span:last-of-type {
    color: var(--tone-4)!important
  }
  body .toolbar button {
    color: var(--primary--light-color)!important
  }
  body .toolbar .scopeRel {
    color: var(--accent-2)!important
  }
  #mtxSwitch_matrix-off.switchTrue {
    color: #a00!important
  }
  button > span.badge {
    color: #fff!important;
    background-color: var(--tone-5)!important
  }
  body .toolbar button {
    background-color: var(--tone-7)!important
  }
  body .toolbar button.disabled {
    color: var(--tone-4);
    color: var(--tone-6)!important
  }
  body .toolbar .scope {
    background-color: var(--tone-6)!important;
    border: 1px solid!important;
    border-color: var(--tone-5)!important
  }
  #parsed {
    background-color: var(--tone-8)!important;
    border: 1px solid!important;
    border-top: none!important;
    border-color: var(--tone-5)!important
  }
  .code {
    background-color: var(--tone-8)!important;
    border: 1px solid!important;
    border-bottom: none!important;
    border-color: var(--tone-5)!important
  }
  button#bye {
    -moz-appearance: none!important;
    background: var(--tone-6)!important;
    border: 1px solid!important;
    border-color: var(--tone-5)!important;
    color: var(--tone-4)!important
  }
  button#bye:hover {
    background: var(--tone-8)!important
  }
  .dropdown-menu > ul,
  .recipe:hover {
    border: 1px solid!important;
    border-color: var(--tone-5)!important;
    background-color: var(--tone-8)!important
  }
  .dropdown-menu > ul > li.dropdown-menu-entry {
    color: var(--tone-6)!important
  }
  #mtxSwitches > li.switchTrue {
    color: var(--tone-4)!important
  }
  .dropdown-menu > ul > li.dropdown-menu-entry:hover {
    background: var(--tone-7)!important
  }
  .recipe .name {
    color: var(--tone-4)!important
  }
  #toolbar,
  #toolbar .button {
    background-color: var(--tone-8)!important
  }
  #toolbar input {
    -moz-appearance: none!important;
    background: var(--tone-6)!important;
    color: var(--tone-4)!important;
    border: 1px solid!important;
    border-color: var(--tone-5)!important;
    padding: 5px!important
  }
  #content table tr {
    background-color: var(--tone-6)!important
  }
  #content table tr:nth-of-type(2n+1) {
    background-color: var(--tone-7)!important
  }
  #content table tr.doc {
    background-color: var(--tone-8)!important
  }
  body:not(.popupOn) #content table tr.canMtx td:nth-of-type(2):hover {
    background: var(--tone-8)!important
  }
  body #content td {
    border-color: var(--tone-5)!important
  }
  #content table tr.blocked {
    color: var(--red-80)!important
  }
  #content table tr.cat_info {
    color: var(--accent-1)!important
  }
  #toolbar {
    border-bottom: 1px solid!important;
    border-color: var(--tone-5)!important
  }
}
