/*! Alters the webextension Vim Vixen
  IMPORTANT: change the Internal UUID */
@-moz-document url-prefix("moz-extension://vim_vixen_UUID/") {
  .vimvixen-console-command-wrapper {
    border-top: 1px solid!important
  }
  .vimvixen-console-completion-title {
    background-color: var(--tone-9)!important;
    border-color: var(--tone-5)!important
  }
  .vimvixen-console-completion {
    background-color: var(--tone-8)!important;
    color: #b1b1b3!important;
    font-family: Menlo,monospace!important
  }
  .vimvixen-console-command,
  .vimvixen-console-command-input {
    background-color: var(--tone-9)!important;
    color: var(--grey-30)!important
  }
  .vimvixen-console-completion-item-url {
    color: #86de74!important
  }
  .vimvixen-console-completion-item.vimvixen-completion-selected {
    background-color: #44391f!important;
    color: #fce19f!important
  }
  .vimvixen-console-error {
    background-color: #4b3137!important;
    color: #ff9494!important
  }
  .vimvixen-settings-form,
  h1 {
    color: var(--tone-4)!important
  }
  .vimvixen-settings-form textarea[name=json] {
    background-color: var(--tone-6)!important;
    -moz-appearance: none!important;
    color: var(--tone-4)!important;
    border-color: var(--tone-6)
  }
  ::-moz-selection {
    color: var(--grey-30);
    background: var(--accent-2)
  }
}