@-moz-document url(chrome://browser/content/aboutDialog.xul) {
    #clientBox {
        color: var(--primary-light-color) !important;
        background-color: var(--primary-dark-color) !important;
    }

    #bottomBox {
        background: var(--dark-accent) !important;
    }
}
