@-moz-document url("chrome://global/content/commonDialog.xul"){
  #commonDialog{
    -moz-appearance: none !important;
    background: var(--primary-dark-color) !important;
    color: var(--primary-light-color) !important;
  }
}
