/*Pop Down Arrow */
.panel-arrow {
  filter: invert(70%) !important;
}

/* main menu */
.panel-subview-body, #appMenu-zoomReset-button {
  color: var(--grey-10) !important;
  background: var(--grey-60) !important;
}

/* header of sub menus */
.panel-subview-footer,[class^="PanelUI-"] {
  color: var(--grey-10) !important;
  background: var(--grey-70) !important;
}

/* webextension popup fix */
.webextension-popup-browser {
  background: white !important;;
}

/* Fix for downloads menu */
photonpanelmultiview panelview {
    background: none !important;
    color: var(--primary-light-color) !important;
}

#emptyDownloads {
    background: var(--grey-60) !important;
    color: var(--primary-light-color) !important;
}

#downloadsFooterButtons {
    background: var(--grey-70) !important;
    color: var(--primary-light-color) !important;
}

#downloadsFooter[showingsummary] > stack:not(:hover) {
  background-color: var(--grey-80) !important;
}

/* Fix downloads list - only appears to be necessary in Nightly */
#downloadsListBox {
    background: var(--primary-dark-color) !important;
}


#appMenu-mainView toolbarbutton:hover,  #customizationui-widget-multiview toolbarbutton:hover,
#widget-overflow-list toolbarbutton:hover {
  background: var(--grey-80) !important;
}

#BMB_bookmarksPopup {
  background: none !important;
}


/* Secure Connection Drop Down */
#identity-popup-securityView {
    background: var(--grey-60) !important;
}

/* Divider */
#identity-popup-multiView > .panel-viewcontainer > .panel-viewstack > .panel-subviews {
    background: var(--primary-light-color) !important;
}

/* Button */
.identity-popup-expander[panel-multiview-anchor] {
    background-color: var(--primary-accent-color) !important;
    fill: var(--primary-light-color) !important;
}


/* Secure connection drop-down - necessary change for FF 59 */

/* Main Background */
#identity-popup-mainView {
    background: var(--grey-60) !important;
    color: var(--primary-light-color) !important;
}

/* Lock color */
#identity-popup[connection^="secure"] .identity-popup-security-content {
    fill: var(--primary-accent-color) !important;
}

/* Permissions logo - white (can't change background image only)
 * Temporary hack until I fish out the icon and invert that */
#identity-popup-permissions-content {
    filter: invert(90%) !important;
}

/* Change color of text to account for ^^ */
#identity-popup-permissions-content {
    color: var(--grey-70) !important;
}

/* More info right button */
.identity-popup-expander {
    border-right: solid 1px var(--grey-50) !important;
    background-color: var(--grey-60) !important;
    fill: var(--grey-50) !important;
}


/* New update is available */
.popup-notification-button[default][highlight="true"]:not([disabled]) {
    background-color: var(--primary-accent-color) !important;
    color: #ccc;
}

#update-available-whats-new {
    color: var(--primary-accent-color) !important;
}

.popup-notification-icon[popupid="update-available"], .popup-notification-icon[popupid="update-manual"], .popup-notification-icon[popupid="update-restart"] {
    background-color: var(--primary-accent-color) !important;
    border-radius: 50%;
}

toolbarbutton {
    text-shadow: none !important;
}
.panel-banner-item > .toolbarbutton-multiline-text {
    color: var(--primary-light-color) !important;
}
.panel-banner-item {
    background-color: hsla(96,65%,37%,.9) !important;
}
#update-manual-whats-new {
color: var(--primary-accent-color) !important;}

::-moz-selection {
  background: var(--blue-40);
  color: white !important;
}
