#customization-done-button {
    color: var(--primary-light-color);
    font-weight: 700;
    border-color: var(--primary-accent-color-dark) !important;
    background-color: var(--primary-accent-color) !important;
}

#customization-done-button:-moz-any(:focus, :active, :hover):not([disabled]) {
    background-color: var(--primary-accent-color-dark) !important;
}