/*Pop Down Arrow */
.panel-arrow { 
  filter: invert(70%) !important; 
}

/* main menu */
.panel-subview-body, #appMenu-zoomReset-button {
  color: var(--grey-10) !important;
  background: var(--grey-60) !important;
}

/* header of sub menus */
.panel-subview-footer,[class^="PanelUI-"] {
  color: var(--grey-10) !important;
  background: var(--grey-70) !important;
}

/* webextension popup fix */
.webextension-popup-browser {
  background: var(--grey-90);
}

/* Smart Bar Drop Down Menu 
* Note: these changes are not currently needed in Nightly */
#PopupAutoCompleteRichResult .ac-title-text{
  color: var(--grey-10) !important;
  filter: opacity(.7);
}

#PopupAutoCompleteRichResult .autocomplete-richlistbox, .search-one-offs {
  background: var(--grey-60) !important;
}