/* Remove white flash on load */
#sidebar, #sidebar-box {
    background: var(--primary-dark-color) !important;
}

/* Sidebar */
.sidebar-placesTree {
    -moz-appearance: none !important;
    background: var(--grey-70) !important;
    color: var(--primary-light-color) !important;
    opacity: 1 !important;
}

/* Change the outline of icons to light instead of dark */
.sidebar-placesTree::-moz-tree-image, .sidebar-placesTreechildren::-moz-tree-image {
    fill: var(--primary-light-color) !important;
 }

/* Sidebar Header */
.sidebar-header, #sidebar-header {
    background: var(--grey-80) !important;
    color: var(--primary-light-color) !important;
}

/* Sidebar search container */
#sidebar-search-container {
    background: var(--grey-80) !important;
    color: var(--primary-light-color) !important;
}


/* Sidebar search box */
#sidebar-search-container textbox {
    -moz-appearance: none !important;
    border-radius: .3em !important;
    background-color: var(--grey-60) !important;
    color: var(--primary-light-color) !important;
    border: solid 1px var(--mid-way-color) !important;
}

/* Sidebar "view" button */
#sidebar-search-container #viewButton {
    color: var(--primary-light-color) !important;

}

/* Drop down arrow - next to "view" */
.button-menu-dropmarker, .button-menubutton-dropmarker {
    filter: invert(65%);
}

/* Sidebar splitter
 * Adjust width to personal preference -
 * I keep it at 4 for easy mobility and Tree Style Tabs
 * utilizes it for container indicators */
#sidebar-splitter {
    width: 4px !important;
    background: var(--primary-dark-color) !important;
    opacity: 0 !important;
}


/* Reverse color of sidebar header icon for Tree Style Tabs
*  you may delete this snippit if you don't use the extension */
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] #sidebar-icon {
    filter: invert(60%);
}

#button_treestyletab_piro_sakura_ne_jp-sidebar-action .toolbarbutton-icon {
    filter: invert(87%);
}

/* Siderbar slider - thank you u/_Dimitri_
 *  Add this section if on Windows
scrollbar > slider {
  max-width: 4px !important;
}

scrollbar > slider > thumb, scrollbar > scrollbarbutton {
  -moz-appearance: none !important;
  background-color: var(--grey-80) !important;;
}
*/
