/* Main context menu */
menupopup, popup, popup > menu > menupopup, menupopup > menu > menupopup, menupopup scrollbox {
      -moz-appearance: none !important;
      background: var(--grey-60) !important;
      border: none !important;
      padding: 0px 0px 0px 0px  !important;
}

/* More options right arrow */
.menu-right {
  filter: invert(95%)!important;
}

/* Top Row of Navigation Options */
#context-navigation menuitem {
      color: var(--grey-10) !important;
      background: var(--grey-70) !important;
}

#context-navigation menuitem:hover {
      background: var(--grey-80) !important;
}

/* Menu items */
menupopup menu, menuitem {
      -moz-appearance: none !important;
      color: var(--grey-10) !important;
}

/* Context menu, display disabled items in a different colour */

menuitem[disabled="true"] {
  color: var(--grey-50) !important;
}

menuitem:hover[disabled="true"] {
  background-color: var(--grey-70) !important;
}

#context-navigation menuitem[disabled="true"] {
  color: var(--grey-50) !important;
}

#context-navigation menuitem:hover[disabled="true"] {
  background-color: var(--grey-80) !important;
}

/* Menu Separators - removed */
menupopup menuseparator {
      padding: 0 !important;
      border-top: none !important;
      margin: 2px 6px 2px 6px !important;
}

menupopup menu:hover, menuitem:hover {
      color: var(--grey-10) !important;
      background-color: var(--grey-80) !important;
}

/* Sidebar Header Context Menue */
.panel-arrowcontent {
  color: var(--grey-10) !important;
  background: var(--grey-60) !important;
}


/* The following snippets are designed to fix promblems
 * only noticed on Windows computers */

/* [WINDOWS ONLY] Remove white separators between menu items */

@media screen and (-moz-windows-theme) {
  menupopup menuseparator {
        -moz-appearance:none !important;
        background: rgba(0, 0, 0, 0) !important;
        border: 0px !important;
  }
}

/* [WINDOWS ONLY] Removes white bar between icons and menu items */

@media screen and (-moz-windows-theme) {
  #context-navigation, #context-sep-navigation {
    padding: 0px !important;
  }
}

/* [WINDOWS ONLY] Bookmarks Toolbar, Toolbar Context menu, spacing tweaks */

@media screen and (-moz-windows-theme) {
  #personal-bookmarks menupopup .bookmark-item,
  #bookmarksMenuPopup,
  menupopup#toolbar-context-menu,
  menupopup#menu_ToolsPopup,
  menupopup#goPopup
  menupopup#tabContextMenu {
    padding-left: 4px !important;
    padding-right: 4px !important;
  }
}

/* [WINDOWS ONLY] Bookmarks Toolbar, top menu padding to match bottom */

@media screen and (-moz-windows-theme) {
  menupopup#BMB_bookmarksPopup menupopup[placespopup="true"],
  menupopup#BMB_bookmarksPopup > menu > menupopup {
    padding-top: 4px !important;
  }

  menupopup#bookmarksMenuPopup .openintabs-menuitem {
    padding-top: 4px !important;
    padding-bottom: 4px !important;
  }
}

/* [WINDOWS ONLY] Context menu, spacing and font size similar to macOS */

@media screen and (-moz-windows-theme) {
  menupopup#contentAreaContextMenu menuitem,
  menupopup#contentAreaContextMenu menu {
    padding-left: 4px !important;
    padding-right: 4px !important;
    font-size: 1.08em !important;
  }
}

/* [WINDOWS ONLY] Menus, slightly increase menu items spacing */

@media screen and (-moz-windows-theme) {
  menupopup menu,
  menuitem {
    padding-top: 2px !important;
    padding-bottom: 2px !important;
  }
}

/* [WINDOWS ONLY] Menus, top and bottom padding to match macOS */

@media screen and (-moz-windows-theme) {
  menupopup {
    padding-top: 4px !important;
    padding-bottom: 4px !important;
  }
}

/* [WINDOWS ONLY] Menus, slightly increase separator margin */

@media screen and (-moz-windows-theme) {
  menupopup menuseparator {
    margin: 2px !important;
  }
}

/* [WINDOWS ONLY] Context menus, border added because Windows has a different drop shadow effect than macOS */

@media screen and (-moz-windows-theme) {
  #personal-bookmarks menupopup,
  .panel-arrowcontent,
  .box-inherit scrollbox-innerbox,
  #BMB_bookmarksPopup menupopup[placespopup="true"] > hbox,
  #bookmarksMenuPopup menupopup[placespopup="true"] > hbox,
  menupopup#BMB_bookmarksPopup > menu > menupopup > hbox,
  menupopup#bookmarksMenuPopup > menu > menupopup > hbox,
  menupopup#contentAreaContextMenu,
  menupopup#placesContext,
  menupopup#bookmarksMenuPopup,
  menupopup#PlacesChevronPopup,
  menupopup#toolbar-context-menu,
  menupopup#downloadsContextMenu {
    border-color: var(--grey-70) !important;
    border-width: 1px !important;
    border-style: solid !important;
  }
}
