/* Main context menu */
menupopup,
popup, popup > menu > menupopup,
menupopup > menu > menupopup,
menupopup scrollbox {
      -moz-appearance: none !important;
      background: var(--grey-60) !important;
      border: none !important;
      padding: 0px 0px 0px 0px  !important;
}

/* More options right arrow */
.menu-right {
  filter: invert(95%)!important;
}

/* Top Row of Navigation Options */
#context-navigation menuitem {
      color: var(--grey-10) !important;
      background: var(--grey-70) !important;
}

#context-navigation menuitem:hover {
      background: var(--grey-80) !important;
}

/* Menu items */
menupopup menu, menuitem {
      -moz-appearance: none !important;
      color: var(--grey-10) !important;
}

/* Menu Separators - removed */
menupopup menuseparator {
      padding: 0 !important;
      border-top: none !important;
      margin: 2px 6px 2px 6px !important;
}

/* Context menu, display disabled items in a different colour */

menuitem[disabled="true"] {
  color: var(--grey-50) !important;
}

menuitem:hover[disabled="true"] {
  color: var(--grey-50) !important;
  background-color: var(--grey-70) !important;
}

#context-navigation menuitem[disabled="true"] {
  color: var(--grey-50) !important;
}

#context-navigation menuitem:hover[disabled="true"] {
  color: var(--grey-50) !important;
  background-color: var(--grey-80) !important;
}

menupopup menu:hover,
menuitem:hover {
      color: var(--grey-10) !important;
      background-color: var(--grey-80) !important;
}

/* Sidebar Header Context Menu */
.panel-arrowcontent {
  color: var(--grey-10) !important;
  background: var(--grey-60) !important;
}

/* Sidebar border */
vbox#sidebar-box.chromeclass-extrachrome {
  border-color: var(--grey-80) !important;
  border-right: 1px !important;
  border-style: solid !important;
}

/* The following snippets are designed to fix problems
 * only noticed on Windows computers */

 @media screen and (-moz-windows-theme),
       screen and (-moz-windows-classic),
       screen and (-moz-windows-default-theme),
       screen and (-moz-os-version: windows-win7),
       screen and (-moz-os-version: windows-win8),
       screen and (-moz-os-version: windows-win10) {

         /* Remove white separators between menu items */
         menupopup menuseparator {
               -moz-appearance:none !important;
               background: rgba(0, 0, 0, 0) !important;
               border: 0px !important;
         }

         /* Removes white bar between icons and menu items */
         #context-navigation, #context-sep-navigation {
           padding: 0px !important;
         }

         /* Bookmarks Toolbar, Toolbar Context menu, spacing tweaks */
         #personal-bookmarks menupopup .bookmark-item,
         #bookmarksMenuPopup,
         menupopup#toolbar-context-menu,
         menupopup#menu_ToolsPopup,
         menupopup#goPopup,
         menupopup#tabContextMenu {
           padding-left: 4px !important;
           padding-right: 4px !important;
         }

         /* Tab menu */
         menupopup > menu > menupopup > .popup-internal-box,
         menupopup#toolbar-context-menu > menuitem {
		   padding-left: 1px !important;
		   padding-right: 1px !important;
         }

         /* All menus padding tweaks */
         menupopup,
         menupopup > menu > menupopup,
         #bookmarksMenuPopup menupopup > hbox {
           padding: 4px 0px 4px 0px  !important;
         }

         #bookmarksMenuPopup menupopup {
           padding: 0px 0px 0px 0px !important;
         }

         #BMB_bookmarksPopup menupopup {
           padding: 4px 0px 0px 0px  !important;
         }

         /* Context menu, spacing and font size similar to macOS */
         menupopup menuitem,
         menupopup menu {
     	   font-size: 1.167em !important;
     	   padding-top: 1px !important;
     	   padding-bottom: 1px !important;
         }

         menupopup menu menuitem,
         menupopup menu menu {
           font-size: 1em !important;
           padding-top: 1px !important;
           padding-bottom: 1px !important;
         }

         menupopup#contentAreaContextMenu menuitem,
         menupopup#contentAreaContextMenu menu {
           padding-top: 2px !important;
           padding-bottom: 2px !important;
         }

         /* Menus, slightly adjust arrow */
         menupopup .menu-right {
           margin-right: 0px !important;
         }

         /* Menus, slightly increase separator margin */
         menupopup menuseparator {
           margin: 2px !important;
         }

         /* Context menus, border added because Windows has a different drop shadow effect than macOS */
         #personal-bookmarks menupopup,
         .panel-arrowcontent,
         .box-inherit scrollbox-innerbox,
         #BMB_bookmarksPopup menupopup[placespopup="true"] > hbox,
         #bookmarksMenuPopup menupopup[placespopup="true"] > hbox,
         menupopup#BMB_bookmarksPopup > menu > menupopup > hbox,
         menupopup#bookmarksMenuPopup > menu > menupopup > hbox,
         menupopup#contentAreaContextMenu,
         menupopup#placesContext,
         menupopup#bookmarksMenuPopup,
         menupopup#PlacesChevronPopup,
         menupopup#toolbar-context-menu,
         menupopup#downloadsContextMenu,
         menupopup#tabContextMenu,
         menupopup > menu > menupopup {
           border-color: var(--grey-70) !important;
           border-width: 1px !important;
           border-style: solid !important;
         }
       }
