/* Main context menu */
menupopup, popup, popup > menu > menupopup, menupopup > menu > menupopup, menupopup scrollbox {
      -moz-appearance: none !important;
      background: var(--grey-60) !important;
      border: none !important;
      padding: 0px 0px 0px 0px  !important;
}

/* More options right arrow */
.menu-right {
  filter: invert(95%)!important;
}

/* Top Row of Navigation Options */
#context-navigation menuitem {
      color: var(--grey-10) !important;
      background: var(--grey-70) !important;
}

#context-navigation menuitem:hover {
      background: var(--grey-80) !important;
}

/* Menu items */
menupopup menu, menuitem {
      -moz-appearance: none !important;
      color: var(--grey-10) !important;
}


/* Menu Separators - removed */
menupopup menuseparator {
      padding: 0 !important;
      border-top: none !important;
      margin: 2px 6px 2px 6px !important;      
}
 
menupopup menu:hover, menuitem:hover {
      color: var(--grey-10) !important;
      background-color: var(--grey-80) !important;
}


/* Sidebar Header Context Menue */ 
.panel-arrowcontent {
  color: var(--grey-10) !important;
  background: var(--grey-60) !important;
}

/* The following snippets are designed to fix promblems 
 * only noticed on Windows computers. Thank you to u/u/markdarkness!
 * for helping me with these issues. */

/* Remove white separators between menu items */
menupopup menuseparator {
      -moz-appearance:none !important;
      background: rgba(0, 0, 0, 0) !important;
      border: 0px !important;
}

/* Increase height between menu items */
menupopup menu, menuitem {
      padding-top: .5px !important;
}

/* Removes white bar between icons and menu items */
#context-navigation, #context-sep-navigation { 
      padding: 0px !important; 
}




