/* Main context menu */
menupopup, popup, popup > menu > menupopup, menupopup > menu > menupopup {
      -moz-appearance: none !important;
      background: var(--grey-70) !important;
      border: 1px solid var(--primary-light-color) !important;
      padding: 6px 0px 6px 0px  !important;
}

/* More options right arrow */
.menu-right {
  filter: invert(95%)!important;
}

/* Top Row of Navigation Options */
#context-navigation menuitem {
      color: var(--grey-10) !important;
      background: var(--grey-80) !important;
}

#context-navigation menuitem:hover {
      background: var(--grey-90) !important;
}

/* Menu items */
menupopup menu, menuitem {
      -moz-appearance: none !important;
      color: var(--grey-10) !important;
}


/* Menu Separators - removed */
menupopup menuseparator {
      padding: 0 !important;
      border-top: none !important;
      margin: 2px 6px 2px 6px !important;
}
 
menupopup menu:hover, menuitem:hover {
      color: var(--grey-10) !important;
      background-color: var(--grey-80) !important;
}


/* Sidebar Header Context Menue */ 
.panel-arrowcontent {
  color: var(--grey-10) !important;
  background: var(--url-and-searchbar-background-color) !important;
}