/*Pop Down Arrow */
.panel-arrow { 
  filter: invert(70%) !important; 
}

/* main menu */
.panel-subview-body, #appMenu-zoomReset-button {
  color: var(--grey-10) !important;
  background: var(--grey-60) !important;
}

/* header of sub menus */
.panel-subview-footer,[class^="PanelUI-"] {
  color: var(--grey-10) !important;
  background: var(--grey-70) !important;
}

/* webextension popup fix */
.webextension-popup-browser {
  background: var(--grey-90);
}

/* Fix for downloads menu */
photonpanelmultiview panelview {
    background: none !important;
    color: var(--primary-light-color) !important;
}



#appMenu-mainView toolbarbutton:hover,  #customizationui-widget-multiview toolbarbutton:hover,
#widget-overflow-list toolbarbutton:hover {
  background: var(--grey-80) !important;
}

#BMB_bookmarksPopup {
  background: none !important;
}

/*Pop Down Arrow */
.panel-arrow { 
  filter: invert(70%) !important; 
}

/* main menu */
.panel-subview-body, #appMenu-zoomReset-button {
  color: var(--grey-10) !important;
  background: var(--grey-60) !important;
}

/* header of sub menus */
.panel-subview-footer,[class^="PanelUI-"] {
  color: var(--grey-10) !important;
  background: var(--grey-70) !important;
}

/* webextension popup fix */
.webextension-popup-browser {
  background: var(--grey-90);
}


#appMenu-mainView toolbarbutton:hover,  #customizationui-widget-multiview toolbarbutton:hover,
#widget-overflow-list toolbarbutton:hover {
  background: var(--grey-80) !important;
}

#BMB_bookmarksPopup {
  background: none !important;
}


