/* Top Border */
.browserContainer > findbar {
    border-top: 1px solid var(--grey-80) !important;
}

/* Alter buttons */
.findbar-find-previous, .findbar-find-next {
    border: none !important;
    background: none !important;
    border-radius: 2px !important;
    fill: var(--primary-light-color) !important;
}
/* Fix spacing */
.findbar-find-previous {
  margin-left: 6px !important;
}

/* Buttons on hover */
.findbar-find-previous:hover,
.findbar-find-next:hover {
  background: var(--toolbarbutton-hover-background) !important;
}
