@-moz-document url-prefix("https://addons.mozilla.org") {

	/* Header & Footer */
	.Header,
	.Footer-wrapper,
	.LanguageTools-header-row,
	.Footer,
	.amo {
	    background: var(--dark-accent) !important;
	}

	.LanguageTools-table-row:nth-child(2n) {
	    background: var(--primary-dark-color) !important;
	}


	/* Background Colors */
	.LandingPage,
	.Home,
	.App-content,
	.Paginate-page-number {
	    background: var(--primary-dark-color) !important;
	}

	/* Search Box */
	.SearchForm-icon-magnifying-glass {
	    filter: invert(65%) !important;
	}

	/* Cards */
	.Hero .Card-contents,
	.Home-SubjectShelf .Card-contents,
	.Card-header,
	.AddonsCard--horizontal .Card-contents,
	.AddonsCard--horizontal ul.AddonsCard-list .SearchResult-link,
	.SearchForm-query,
	.LandingPage-header,
	.Categories .Card-contents,
	.SectionLinks-dropdown .DropdownMenu-items,
	.Card-contents, .Card--photon .Card-contents,
	.Card-footer-link,
	.MetadataCard,
	.AddonDescription-more-addons:not(.AddonDescription-more-addons--theme) .Card-contents .AddonsCard-list,
	.AddonDescription-more-addons--theme .Card-contents .AddonsCard-list,
	.Search .SearchResults .SearchResult,
	.SearchForm-suggestions-item.SearchForm-suggestions-item,
	.Card-contents li,
	.Card-footer-text
	{
	    background: var(--mid-way-color) !important;
	}

	.Home-SubjectShelf-subheading,
	.Home-SubjectShelf-link:link,
	.Home-SubjectShelf-link:visited,
	.Card-header,
	.SearchResult-name,
	.SearchForm-query,
	.LandingPage-addonType-name,
	.LandingPage-heading-content,
	.Footer-links-header a:link,
	.Footer a:active, .Footer a:hover,
	.DropdownMenuItem,
	.DropdownMenuItem-section,
	.DropdownMenuItem-link a, .DropdownMenuItem-link a:link,
	.Card-contents, .Card--photon .Card-contents,
	.AddonBadges .Badge,
	.Addon-author,
	.Addon-author a,
	.Addon-author a:link
	.Button--action,
	.Button--action:link,
	.Button--action.Button--small:link,
	.Button--action,
	.Addon-title,
	.ReportAbuseButton-show-more,
	.SearchResult-summary,
	.SearchContextCard-header,
	.Paginate-page-number,
	.SearchSuggestion-name,
	.ExpandableCard-ToggleLink:link,
	.Paginate .Paginate-item,
	.Card-footer-text
	 {
	    color: var(--primary-light-color) !important;
	}

	.Paginate-previous::before,
	.Paginate-next::after,
	.Card-contents li .Rating-star-group
	 {
		filter: invert(70%) !important
	}

    .ShowMoreCard-contents::after {
      background: linear-gradient(rgba(255, 255, 255, 0), var(--mid-way-color)) !important;
    }

	.Home-SubjectShelf-link:active,
	.Home-SubjectShelf-link:focus,
	.Home-SubjectShelf-link:hover,
	.SearchResult-link:focus .SearchResult-name,
	.SearchResult-link:hover .SearchResult-name,
	.Card-footer-link a,
	.Card-footer-link a:hover,
	.Card-footer-link a:link,
	.DropdownMenuItem-link a:hover,
	.AddonMoreInfo-contents a:link,
	.LanguageTools-table a:link,
	.Addon-details .AddonDescription-contents a:link,
	.Card.ShowMoreCard.AddonDescription-version-notes a:link {
	    color: var(--primary-accent-color) !important;
	}

	.Button--action.Button--outline-only {
		border-color: var(--primary-accent-color) !important;
	}

	.Button--action,
	.Button--action.Button--small,
	.Paginate .Paginate-item,
	.SearchForm-suggestions-item.SearchForm-suggestions-item--highlighted,
	.Addon .InstallButton-button {
	    background: var(--primary-accent-color) !important;
	}

	.Button--action.Button--outline-only:hover,
	.SearchForm-query:hover,
	.Button--action:hover {
		border-color: var(--primary-accent-color-dark) !important;

	}

	.SearchForm-query:focus {
	    box-shadow: 0 0 5px 0 var(--primary-accent-color) !important;
	    border-color: var(--primary-accent-color-dark) !important;
	}

	.AddonsCard--horizontal ul.AddonsCard-list .SearchResult-link:hover {
		background: var(--primary-dark-color) !important;
		border-radius: 0px !important;
	}

	.Button--report {
	    text-shadow: none !important;
	}

	.Icon-external {
	    filter: invert(20%) !important;
	}

	.Icon-featured {
	    filter: invert(85%) !important;
	}


}
