@-moz-document url-prefix(view-source) {
	*|*:root {
	  background-color: var(--primary-dark-color) !important;
	  color: var(--primary-light-color) !important;
	}
	pre[id]:before,
	span[id]:before {
	  color: var(--primary-light-color) !important;
	}
	.highlight .start-tag {
	 color: #b78cfd !important;
	}
	.highlight .end-tag {
	 color: #b78cfd !important;
	}
	.highlight .comment {
	 color: #86de74 !important;
	}
	.highlight .cdata {
	 color: #CC0066 !important;
	}
	.highlight .doctype {
	 color: steelblue !important;
	}
	.highlight .pi {
	 color: #ff7de9 !important;
	}
	.highlight .entity {
	 color: #dea174 !important;
	}
	.highlight .attribute-name {
	    color: #86de74 !important;
	}
	.highlight .attribute-value {
	 color: #75bfff !important;
	}
	.highlight .markupdeclaration {
	 color: steelblue !important;
	 font-style: italic;
	}
	.highlight .error,
	.highlight .error > :-moz-any(.start-tag, .end-tag, .comment, .cdata, .doctype,
	                              .pi, .entity, .attribute-name, .attribute-value) {
	  color: #de7474 !important;
	}

}