@-moz-document url(chrome://browser/content/aboutDialog.xul) {
  #clientBox {
    color: var(--in-content-page-color)!important;
    background-color: var(--in-content-page-background)!important
  }
  #bottomBox {
    background: var(--in-content-category-header-background)!important
  }
}