:root {
  --panel-separator-color: var(--in-content-border-color)!important
}
#urlbar[focused=true],
.searchbar-textbox[focused=true] {
  border: 1px solid!important;
  box-shadow: 0 1px 4px var(--in-content-border-focus)!important;
  border-color: var(--in-content-border-focus)!important
}
#PopupAutoCompleteRichResult .autocomplete-richlistbox,
.searchbar-treebody::-moz-tree-row {
  background-color: var(--in-content-box-background)!important
}
#PopupAutoCompleteRichResult .autocomplete-richlistitem,
.autocomplete-tree {
  border-bottom-color: var(--in-content-page-color)!important
}
#PopupSearchAutoComplete tree,
popupset#mainPopupSet panel#PopupAutoCompleteRichResult,
popupset#mainPopupSet panel#PopupAutoCompleteRichResult .autocomplete-richlistitem .ac-action,
popupset#mainPopupSet panel#PopupAutoCompleteRichResult .autocomplete-richlistitem .ac-separator,
popupset#mainPopupSet panel#PopupAutoCompleteRichResult .autocomplete-richlistitem .ac-title,
popupset#mainPopupSet panel#PopupAutoCompleteRichResult .autocomplete-tree {
  color: var(--in-content-page-color)!important
}
.autocomplete-richlistitem[selected=true],
.searchbar-treebody::-moz-tree-row(selected) {
  background-color: var(--theme-selection-background)!important
}
.ac-action[selected],
.ac-separator[selected],
.ac-title[selected],
.ac-url[selected],
.autocomplete-richlistitem[selected=true] .ac-action,
.autocomplete-richlistitem[selected=true] .ac-separator,
.autocomplete-richlistitem[selected=true] .ac-title,
.autocomplete-richlistitem[selected=true] .ac-url {
  color: var(--in-content-selected-text)!important
}
.ac-url,
.search-panel-input-value {
  color: var(--in-content-link-color)!important
}
.search-one-offs {
  background: var(--in-content-box-background)!important
}
.search-panel-header,
.search-panel-one-offs {
  background: var(--in-content-category-header-background)!important;
  border-top: none!important
}
.autocomplete-history-popup,
panel[type=autocomplete-richlistbox],
panel[type=autocomplete] {
  color: var(--in-content-page-color)!important;
  background: var(--in-content-box-background)!important
}
.searchbar-treebody::-moz-tree-row(hover),
popupset#mainPopupSet panel#PopupAutoCompleteRichResult .autocomplete-richlistitem:hover,
treechildren.searchbar-treebody::-moz-tree-row(hover) {
  background-color: var(--in-content-page-background)!important
}