/*! Alters the webextension Cookie AutoDelete
  IMPORTANT: change the Internal UUID */

@-moz-document url-prefix("moz-extension://cookie_autodelete_UUID/") {

  a {
      color: var(--primary-accent-color);
  }

  a:hover {
      color: var(--primary-accent-color-dark);
  }

  #layout,
  html  {
      background: var(--primary-dark-color) !important;
      color: var(--primart-light-color) !important;
  }

  #menu {
    background-color: var(--dark-accent) !important;
  }

  .menu-link {
    background: var(--dark-accent) !important;
  }

  .pure-menu-selected,
  .pure-menu-item:hover {
    background-color: var(--mid-way-color) !important;
  }

  input[type="number"],
  .form-control {
    -moz-appearance: none !important;
    background: var(--mid-way-color) !important;
    color: var(--primary-light-color) !important;
    border: 1px solid var(--light-accent-color) !important;
  }

  .nav-tabs .nav-link {
    color: var(--primary-light-color) !important;
  }

  .nav-tabs .nav-link.active {
    color: var(--primary-accent-color) !important;
    background-color: var(--mid-way-color) !important;
    border-color: #ddd #ddd #fff;
  }

  /* Popup Specific */

  body {
    color: var(--primary-light-color) !important;
    background-color: var(--mid-way-color) !important;
  }

  .btn-light {
    color: var(--primary-light-color) !important;
    background-color: var(--light-accent-color) !important;
    border-color: var(--primary-light-color) !important;
  }

}
