/*! Alters the webextension Dark Mode
  IMPORTANT: change the Internal UUID */

@-moz-document url-prefix("moz-extension://dark_mode_UUID/") {

	/* Headers */
	.comment {
	    color: var(--primary-accent-color) !important;
	}

	label {
	    color: var(--primary-light-color) !important;
	}
}
