/*! Alters the webextension Decentraleyes
  IMPORTANT: change the Internal UUID */

@-moz-document url-prefix("moz-extension://decentraleyes_UUID/") {


  body {
    background-color: var(--mid-way-color) !important;
    color: var(--primary-light-color) !important;
  }

  header,
  .panel:not(:last-child) {
    border-bottom: solid var(--light-accent-color) 1px !important;
  }

  .button {
    -moz-user-select: none;
    background-color: var(--primary-dark-color) !important;
  }


}
