/*! Alters the webextension HTTPS Everywhere
  IMPORTANT: change the Internal UUID */
@-moz-document url-prefix("moz-extension://https_everywhere_UUID/") {
  body {
    color: var(--tone-4)!important;
    background: var(--tone-6)!important
  }
  html {
    background-color: var(--tone-6)!important
  }
  a {
    color: var(--accent-1)!important
  }
  h3 {
    color: var(--tone-4)!important
  }
}