/*! Alters the webextension HTTPS Everywhere
  IMPORTANT: change the Internal UUID */

@-moz-document url-prefix("moz-extension://897dfa7c-fa54-be49-996c-594df8db2260/") {

  body {
    color: var(--primary-light-color) !important;
    background: var(--grey-60) !important;
  }

  a {
    color: var(--primary-accent-color) !important;
  }

  h3 {
    color: var(--primary-light-color) !important;
  }

}
