/*! Alters the webextension Multi-Account Containers
  IMPORTANT: change the Internal UUID in BOTH locations */

@-moz-document url-prefix("moz-extension://6b51b3b1-d8eb-694b-97b5-4e7163a2284d/") {
  html body div#container-panel.panel.container-panel,
  .column-panel-content {
      background: var(--grey-60) !important;
      color: var(--primary-light-color) !important;
  }
  #current-tab {
    background: var(--grey-60) !important;
    color: var(--primary-light-color) !important;
  }
  #current-tab > h3,
  .panel-header-text,
  .container-info-list {
    color: var(--primary-light-color) !important;
  }
  #container-panel #sort-containers-link {
      border: 1px solid var(--grey-50) !important;
      color: var(--primary-light-color) !important;
  }

  #container-panel #sort-containers-link:hover,
  .clickable:hover {
      background: var(--grey-70) !important;
  }

  .container-panel-row {
      background-color: var(--grey-60) !important;
      border-block-end: 1px solid var(--grey-50);
      color: var(--primary-light-color) !important;
  }
  .scrollable {
      border-block-start: 1px solid var(--grey-50) !important;
      background: var(--grey-60) !important;
  }
  .panel-footer {
      background: var(--grey-70) !important;
      border-block-end: 1px solid var(--grey-70) !important;
    }

    .panel-header {
      background: var(--grey-70) !important;
    }

    .container-panel-row:hover .clickable.userContext-wrapper,
  .container-panel-row:focus .clickable.userContext-wrapper,
  .container-panel-row:hover .pop-button {
    background: var(--grey-70) !important;
  }

  .panel-back-arrow {
      background: var(--grey-60) !important;
    }

  .back-arrow-img {
    filter:invert(65%) !important;
  }

  .container-panel-row {
    border-block-end: 1px solid var(--grey-50) !important;
  }


  #current-tab > label > input[disabled] {
    background-color: var(--grey-50) !important;
    border-color: var(--grey-40) !important;
  }

  #current-tab > label > input:checked {
      filter: invert(100%);
      border-color: var(--grey-50) !important;
  }

  .column-panel-content form {
    background: var(--grey-60) !important;
  }

  .pop-button-image-small {
      filter: invert(650%) !important;
  }

  .edit-container-panel fieldset,
  .edit-containers-text a {
    color: var(--primary-light-color) !important;
  }

  .edit-container-panel input[type="text"] {
    background: var(--grey-80) !important;
    color: var(--primary-light-color) !important;
    border: 1px solid var(--grey-50) !important;

  }

  [data-identity-color="grey"] {
    --identity-icon-color: var(--primary-light-color) !important;
  }

  .button {
    color: var(--primary-light-color) !important;
  }

  .container-notification {
    background: var(--grey-70) !important;
    color: var(--primary-light-color) !important;
  }

}

/*! Alters the webextension Multi-Account Containers
  IMPORTANT: change the Internal UUID in BOTH locations */
@-moz-document url-prefix("moz-extension://6b51b3b1-d8eb-694b-97b5-4e7163a2284d/confirm-page") {
  body {
    background-color: var(--primary-dark-color) !important;
  }

  body,
  .title-text {
    color: var(--primary-light-color) !important;
  }
  #redirect-url {
    background: var(--grey-80) !important;
  }
  .button-container > button:first-child {
    background: var(--grey-60) !important;
    border-color: var(--grey-50) !important;
  }
  .button-container > button:first-child:hover {
    background: var(--grey-80) !important;
  }
  #never-ask {
    -moz-appearance: none !important;
    background-color: var(--grey-60) !important;
    border-color: var(--grey-50) !important;
    background-image: none !important;
    box-shadow: none !important;
  }
  #never-ask:checked {
    background-image: url("chrome://global/skin/in-content/check.svg") !important;
    background-color: var(--grey-60) !important;
  }

}
