/*! Alters the webextension Neat URL
  IMPORTANT: change the Internal UUID */

@-moz-document url-prefix("moz-extension://2b51bd1f-a120-ea4b-9c78-2b21416143d8_UUID/") {
  label,
  h2,
  body {
    color: var(--tone-4) !important;
  }

  textarea,
  input {
    -moz-appearance: none !important;
    background: var(--tone-6) !important;
    color: var(--tone-4) !important;
    border: 1px solid var(--tone-5) !important;
    padding: 5px 5px 5px 5px !important;
  }

  a:link {
    color: var(--accent-1) !important;
  }

  button {
    background-color: var(--tone-8) !important;
    color: var(--tone-4) !important;
    border-color: var(--tone-5) !important;
  }

  button:hover {
    background-color: var(--tone-7) !important;
  }

}
