/*! Alters the webextension NoScript
  IMPORTANT: change the Internal UUID */

@-moz-document url-prefix("moz-extension://noscript_UUID/") {
  body{
    background: var(--mid-way-color) !important;
  }

  #top {
    border-bottom: 0.06em solid var(--light-accent-color) !important;
  }

  #top #close,
  #top #reload,
  #top #options,
  #top #revoke-temp,
  #top #temp-allow-page {
    background-color: var(--mid-way-color) !important;
  }

  .site .url[data-key="secure"] .domain, .site .url[data-key="secure"] .sub, .site .url[data-key="full"] span {
    color: var(--primary-light-color) !important;
  }

  .sites > tr:nth-child(2n) {
    background: var(--mid-way-color) !important;
  }

  .sites > tr:nth-child(2n+1) {
    background: var(--primary-dark-color) !important;
  }

  .presets input.preset:checked, #presets input.preset {
    color: var(--primary-light-color) !important;
    background-color: var(--dark-accent) !important;
  }
  .presets label.preset {
    color: var(--primary-light-color) !important;
  }

  #sect-general {
    color: var(--primary-light-color) !important;
  }

  button,
  input[type="text"] {
    -moz-appearance: none !important;
    background-color: var(--primary-dark-color) !important;
    border: 1px solid var(--light-accent-color) !important;
    color: var(--primar-light-color) !important;
  }
  #top #close,
  #top #reload,
  #top #options,
  #top #revoke-temp,
  #top #temp-allow-page {
    background-color: var(--mid-way-color) !important;
    border: none !important;
  }
}
