/*! Alters the webextension Skip Redirect
  IMPORTANT: change the Internal UUID */

@-moz-document url-prefix("moz-extension://b4b0ef21-3b88-e547-841a-b671a44bdfa7/") {

  body {
    background: var(--mid-way-color) !important;
    color: var(--primary-light-color) !important;
  }

  textarea,
  input[type="text"], input[type="number"] {
    -moz-appearance: none !important;
    background: var(--light-accent-color) !important;
    color: var(--grey-30) !important;
  }

  label a {
    color: var(--primary-accent-color) !important;
  }




}
