/*! Alters the webextension Smart HTTPS
  IMPORTANT: change the Internal UUID */

@-moz-document url-prefix("moz-extension://smart_https_UUID/") {

  body {
    background-color: var(--mid-way-color) !important;
    color: var(--primary-light-color) !important;
  }

  .information input[type="number"],
  input[type="text"] {
      -moz-appearance: none !important;
      background: var(--mid-way-color) !important;
      color: var(--primary-light-color) !important;
      border: 1px solid var(--light-accent-color) !important;
  }

  .information p {
    color: var(--primary-light-color) !important;
  }

}
