/*! Alters the webextension Smart HTTPS
  IMPORTANT: change the Internal UUID */
@-moz-document url-prefix("moz-extension://smart_https_UUID/") {
  body {
    background-color: var(--tone-6)!important;
    color: var(--tone-4)!important
  }
  .information input[type=number],
  input[type=text] {
    -moz-appearance: none!important;
    background: var(--tone-6)!important;
    color: var(--tone-4)!important;
    border-color: var(--tone-5)!important
  }
  .information p {
    color: var(--tone-4)!important
  }
}