/*! Alters the webextension uBlock Origin
  IMPORTANT: change the Internal UUID */

@-moz-document url-prefix("moz-extension://de835161-ee69-c14d-9940-203fbacf2276/") {

  /* header */
  #appinfo {
      background-color: var(--dark-accent) !important;
      color: var(--primary-light-color) !important;
  }

  /* Right Column */
  body[dir="ltr"] #panes > div {
    background: var(--primary-dark-color) !important;
    color: var(--primary-light-color) !important;
  }

  body, #panes {
    background: var(--primary-dark-color) !important;
    color: var(--primary-light-color) !important;
  }

  label a,
  p a,
  ul a {
    color: var(--primary-accent-color) !important;
  }

  /* Subgroup in Settings */
  ul#userSettings .subgroup > span {
    color: var(--primary-accent-color) !important;
  }

  #dashboard-nav-widgets span {
    color: var(--primary-light-color) !important;
  }

  /* info icons */
  a.info {
    color: var(--primary-light-color) !important;
    opacity: .5;
  }

  li.listEntry span.status {
    color: var(--primary-light-color) !important;
  }

  li.listEntry > a.remove, li.listEntry > a.remove:visited {
    color: var(--red-80) !important;
  }

  /* Power Switch */
  #switch .fa {
    color: var(--primary-accent-color) !important;
  }

  /* Power Switch - Off */
  body.off #switch .fa {
      color: var(--primary-light-color) !important;
  }

  /* Tool Buttons */
  .tool {
    color: var(--primary-light-color) !important;
  }

  .tool:hover {
    color: var(--dark-accent) !important;
  }

  /* Stripped row */
  h2,
  #extraTools {
    background-color: var(--dark-accent) !important;
    color: var(--primary-light-color) !important;
  }

  /* Refresh Button */
  #refresh {
    background-color: var(--dark-accent) !important;
    border-color: var(--light-accent-color) !important;
  }

  /* Badge number */
  #extraTools > span > span.badge {
    color: var(--primary-light-color) !important;
  }

  /* Firewall Container */
  #firewallContainer > div {
    background-color: var(--mid-way-color) !important;
  }

  #firewallContainer > div > span {
    color: var(--primary-light-color) !important;
    border-color: var(--light-accent-color) !important;
  }

  /* Darker Red */
  body.advancedUser #firewallContainer > div > span.blockRule.ownRule {
    background-color: #ab0000 !important;
  }

  /* Lighter Red */
  body.advancedUser #firewallContainer > div > span.blockRule {
    background-color: #dda0a2 !important;
  }

  /* Before Red */
  #firewallContainer > div.blocked > span:first-of-type::before, #firewallContainer.minimized > div.isDomain.totalBlocked > span:first-of-type::before {
    background-color: #c87576 !important;
    opacity: 1 !important;
  }


  /* Darker Green */
  body.advancedUser #firewallContainer > div > span.allowRule.ownRule {
    background-color: #229400 !important;
  }

  /* Lighter Green */
  body.advancedUser #firewallContainer > div > span.allowRule {
    background-color: #95ca8a !important;

  }

  /* Before Green */
  #firewallContainer > div.allowed > span:first-of-type::before, #firewallContainer.minimized > div.isDomain.totalAllowed > span:first-of-type::before {
      background-color: #7ec26f !important;
      opacity: 1 !important;
  }

  /* Darker Blue */
  body.advancedUser #firewallContainer > div > span.noopRule.ownRule {
      background-color: #0c46a7 !important;
  }

  /* Blue on hover */
  #actionSelector > span:nth-of-type(2) {
    background-color: #0c46a7 !important;
  }

  /* Lighter Blue */
  body.advancedUser #firewallContainer > div > span.noopRule {
    background-color: #65bdfb !important;
  }

  /* Before Yellow */
  #firewallContainer > div.allowed.blocked > span:first-of-type::before, #firewallContainer.minimized > div.isDomain.totalAllowed.totalBlocked > span:first-of-type::before {
    background-color: #cdc16e !important;
    opacity: 1 !important;
  }

  /* Color Blind Friendly */

  /* Dark Block Color */
  body.advancedUser #firewallContainer.colorBlind > div > span.blockRule.ownRule {
    background-color: #000060 !important;
  }

  /* Light Block Color */
  body.advancedUser #firewallContainer.colorBlind > div > span.blockRule {
    background-color: #787dab !important;
  }

  /* Dark Allow */
  body.advancedUser #firewallContainer.colorBlind > div > span.allowRule.ownRule {
    background-color: #fbb900 !important;
  }

  /* Light Allow */
  body.advancedUser #firewallContainer.colorBlind > div > span.allowRule{
    background-color: #f2d98d !important;
  }

  /* Dark Noop */
  body.advancedUser #firewallContainer.colorBlind > div > span.noopRule.ownRule {
      background-color: #2f2e2e !important;
  }


  /* Light Noop */
  body.advancedUser #firewallContainer.colorBlind > div > span.noopRule {
      background-color: #a1a1a1 !important;
  }

  /* Yellow Side */
  #firewallContainer.colorBlind > div.allowed > span:first-of-type::before, #firewallContainer.colorBlind.minimized > div.isDomain.totalAllowed > span:first-of-type::before {
    background-color: #ebd287 !important;
  }

  /* Blue Side */
  #firewallContainer.colorBlind > div.blocked > span:first-of-type::before, #firewallContainer.colorBlind.minimized > div.isDomain.totalBlocked > span:first-of-type::before {
    background-color: #787cab !important;
  }

  #dashboard-nav-widgets {
      border-bottom: 1px solid var(--mid-way-color) !important;
      background-color: var(--dark-accent) !important;
    }

  .tabButton {
    background-color: var(--primary-dark-color) !important;
    color: var(--primary-light-color) !important;
    border: 1px solid var(--mid-way-color) !important;
    border-bottom: 1px solid var(--mid-way-color) !important;
  }

  .tabButton.selected {
    background-color: var(--dark-accent) !important;
    border-bottom: 1px solid var(--primary-dark-color) !important;
  }

  input[type="number"] {
    -moz-appearance: none!important;
    background-color: var(--mid-way-color) !important;
    color: var(--primary-light-color) !important;
  }

  li.listEntry .content {
    color: var(--primary-accent-color) !important
  }

  #diff .pane {
    color: var(--primary-light-color) !important;
    background: var(--primary-dark-color) !important;
  }

  #diff li {
    background-color: var(--mid-way-color) !important;
  }

  #diff li:nth-child(2n) {
    background-color: var(--primary-dark-color) !important;
  }

  /* Textbox */
  code {
    background-color: var(--mid-way-color) !important;
  }

  #whitelist textarea {
    background: var(--mid-way-color) !important;
    color: var(--primary-light-color) !important;
  }

  textarea#userFilters.userFilters,
  textarea#externalLists {
    -moz-appearance: none!important;
    background: var(--mid-way-color) !important;
    color: var(--primary-light-color) !important;

  }



}
