/*! Alters the webextension uBO-Scope
  IMPORTANT: change the Internal UUID */

@-moz-document url-prefix("moz-extension://ubo_scope_UUID/") {
  body {
    background: var(--mid-way-color) !important;
  }

  #topPane {
    background-color: var(--mid-way-color) !important;
    color: var(--primary-light-color) !important;
  }

  #heatmaps .togglerBar {
    background: var(--mid-way-color) !important;
  }

  body.theoretical #heatmaps .heatmap.theoretical {
    background: var(--mid-way-color) !important;
  }



  #heatmaps .heatmap {
    border: none;
    background: var(--mid-way-color) !important;
  }

  #heatmaps.list .hmcell {
    background-color: var(--mid-way-color) !important;
    color: var(--primary-light-color) !important;
  }

  #domain3rdDetails {
    background-color: var(--primary-dark-color) !important;
    border: 1px solid var(--primary-dark-color) !important;
  }

  #domain3rdDetails #authority {
    background-color: var(--dark-accent) !important;
    position: relative;
  }

  #scores .scores .score.actual {
    color: white !important;;
  }

  #scores .scores .score.theoretical {
    color: var(--primary-dark-color) !important;;
  }

  body.theoretical #scores .scores .score.actual {
    color: var(--primary-dark-color) !important;;
  }

  body.theoretical #scores .scores .score.theoretical {
    color: var(--primary-light-color) !important;;
  }


}
