/*! Alters the webextension uBO-Scope
  IMPORTANT: change the Internal UUID */
@-moz-document url-prefix("moz-extension://ubo_scope_UUID/") {
  #heatmaps .togglerBar,
  body,
  body.theoretical #heatmaps .heatmap.theoretical {
    background: var(--tone-6)!important
  }
  #topPane {
    background-color: var(--tone-6)!important;
    color: var(--tone-4)!important
  }
  #heatmaps .heatmap {
    border: none;
    background: var(--tone-6)!important
  }
  #heatmaps.list .hmcell {
    background-color: var(--tone-6)!important;
    color: var(--tone-4)!important
  }
  #domain3rdDetails {
    background-color: var(--tone-7)!important;
    border: 1px solid!important
  }
  #domain3rdDetails #authority {
    background-color: var(--tone-8)!important;
    position: relative
  }
  #scores .scores .score.actual {
    color: #fff!important
  }
  #scores .scores .score.theoretical,
  body.theoretical #scores .scores .score.actual {
    color: var(--tone-7)!important
  }
  body.theoretical #scores .scores .score.theoretical {
    color: var(--tone-4)!important
  }
}