@-moz-document regexp("^[file:///].*[^(html)]$") {
  :root {
    background-color: var(--in-content-page-background)!important
  }
  body {
    border-color: var(--in-content-box-background)!important;
    background-color: var(--in-content-box-background)!important;
    color: var(--in-content-page-color)!important
  }
  h1 {
    border-color: var(--in-content-box-border-color)!important
  }
  body > table > tbody > tr:hover {
    outline-color: var(--in-content-box-background-hover)!important;
    background-color: var(--in-content-box-background-hover)!important
  }
  .dir,
  .file,
  .symlink,
  .up {
    color: var(--in-content-link-color)!important
  }
}