menupopup,
menupopup > menu > menupopup,
menupopup scrollbox,
popup,
popup > menu > menupopup {
  -moz-appearance: none!important;
  background: var(--in-content-box-background)!important
}
menuitem,
menupopup menu {
  -moz-appearance: none!important;
  color: var(--in-content-selected-text)!important;
  background: var(--in-content-box-background)!important
}
menupopup menuseparator {
  -moz-appearance: none!important;
  background: var(--in-content-table-border-dark-color)!important
}
menu.subviewbutton > .menu-right {
  fill: #000!important
}
.menu-right {
  filter: invert(95%)!important
}
.menu-right[_moz-menuactive=true] {
  filter: invert(10%)!important
}
menu[disabled=true],
menuitem[disabled=true] {
  color: var(--in-content-box-border-color)!important
}
menu[disabled=true]:hover,
menuitem:hover[disabled=true] {
  color: var(--in-content-box-border-color)!important;
  background-color: var(--in-content-box-background)!important
}
menuitem[_moz-menuactive=true],
menupopup menu[_moz-menuactive=true] {
  color: var(--in-content-selected-text)!important;
  background-color: var(--in-content-primary-button-background-hover)!important
}
#_testpilot-containers_7 .menu-iconic-left,
#treestyletab_piro_sakura_ne_jp_8 .menu-iconic-left {
  filter: invert(55%)!important
}