@-moz-document url-prefix(about:),
url-prefix(chrome://browser) {
  .checkbox-check,
  .prefs-pane [type=checkbox]:checked + label::before,
  .prefs-pane [type=checkbox]:not(:checked) + label::before,
  .radio-check,
  input[type=checkbox] {
    -moz-appearance: none!important;
    border: 1px solid!important;
    background-color: var(--in-content-box-background)!important;
    background-image: none!important;
    box-shadow: none!important;
    border-color: var(--in-content-box-border-color)!important
  }
  radio[disabled=true] {
    color: var(--in-content-box-border-color)!important
  }
  .radio-check[selected] {
    list-style-image: url(chrome://global/skin/in-content/radio.svg);
    fill: var(--in-content-border-highlight)!important;
    -moz-context-properties: fill,stroke;
    stroke: none;
    border-radius: 50%!important
  }
  .checkbox-check[checked] {
    list-style-image: url(chrome://global/skin/in-content/check.svg)!important;
    fill: var(--in-content-border-highlight)!important;
    -moz-context-properties: fill,stroke;
    stroke: none
  }
  html body div.ancillary div div.opsRow div.opsRowLabel label input,
  html body div.ancillary div div.opsRow div.opsRowLabel label input#verbose {
    -moz-appearance: checkbox!important;
    min-height: 10px!important;
    min-width: 10px!important;
    margin-top: -5px;
    margin-bottom: -1px
  }
}